[2019-11-20 16:05] hendrikebbers commented on #515
Hi @JAIMY86 we plan to support IE / Windows setting in near future.

[2019-11-21 08:49] JAIMY86 commented on #515
Hi,

Many thanks for the update.

Would the fix/feature will be available on or before April 2020?

A possible timeline would help us to plan and migrate the JRE apps on Win10 at an enterprise level.

[2019-11-21 08:55] sclassen commented on #515
Planned is before Christmas

[2019-11-21 12:21] JAIMY86 commented on #515
Thanks for the support and update.

looking forward to it :-)

[2019-11-21 12:25] JAIMY86 commented on #347
Hello Team,

Is there any update on the bug?

We tried with latest AdoptOpenJDK JRE 8u232, but still the bug is present.

Kindly support/provide a possible timeline on the bug fix as its seems to be a major show stopper for our JRE migration for Win10 on enterprise level.

[2019-11-26 14:06] hendrikebbers commented on #517
"javaws -viewer" is not supported in https://github.com/karakun/OpenWebStart and it is not planned to support this feature since OpenWebStart provides a settings executable to open the settings dialog.

[2019-11-26 14:26] gimmidallago commented on #517
So, "viewer" option can be removed from the available ones?
Thanks

[2019-11-27 12:52] ericbfeliu commented on #348
@hendrikebbers  What commit do you believe addresses this problem?

[2019-11-27 15:11] JAIMY86 opened #531 "Deployment Rule set file for AdoptOpenJDK JRE 8"
Dear Team,

We have Deployment rule set file to manage Java exception list where it can bypass the Java prompts by not appearing for users in Oracle JRE 8 (Win10).
For Oracle JRE 8, file resides under "C:\Windows\Sun\Java\Deployment\DeploymentRuleSet.jar"
1)   Is the above file is accepted for AdoptOpenJDK JRE 8?
2 ) Is there any similar setting available in AdoptOpenJDK JRE 8 to bypass the Java w

[2019-11-27 20:22] ibbibby commented on #348
@hendrikebbers Unfortunately I can't say as my project has shifted to installing the app and launching via custom URL protocols instead of Web Start.

[2019-11-28 10:39] sclassen commented on #517
This issue is not related to icedtea-web and has been addressed in OpenWebStart.

[2019-11-28 10:39] #517 closed

[2019-11-28 10:42] sclassen commented on #511
Icedtea-web 1.8 does not support macOS
For 2.0 the plugin support has been removed.

So unfortunately I think we cannot help you with this.

[2019-11-28 10:42] #511 closed

[2019-11-28 10:43] #479 closed

[2019-11-29 12:54] patris70 commented on #531
@karianna,

here ist my codes, same Oracle DeploymentRuleSet:
https://github.com/AdoptOpenJDK/IcedTea-Web/issues/394
**User** is same Oracle Exception.sites
**System** is same Oracle DeploymetRuleSet (you can using Wildcard in URL or Certificate HASH-256)

![RuleSet](https://user-images.githubusercontent.com/39562080/69870245-8fd68980-12af-11ea-93a5-5676f7a1092e.jpg)

[2019-12-02 11:18] 220160239 opened #534 "icedtea-web-windows-x86"
Why icedtea-web 1.8.3 only provides win64 version?  Will win32 version be provided later?

[2019-12-02 11:22] sclassen commented on #534
I do not know what the exact plans for version 1.8
There will be a 32 bit version of openwebstart.com which is based on icedtea-web starting next week

[2019-12-03 05:45] patris70 commented on #534
@sclassen,

please read my suggestion:
https://github.com/AdoptOpenJDK/IcedTea-Web/issues/400

[2019-12-04 06:23] 220160239 opened #538 "compile icedtea-web1.8.3 by i686-pc-windows-msvc"
I compile icedtea-web1.8.3 by i686-pc-windows-msvc, but the output files (itweb-settings.exe, javaws.exe, policyeditor.exe)  all contain RSDS information. I do not need debuginfo, how can I remove RSDS information ?

[2019-12-04 21:33] Chapma44 commented on #512
[fatalErrorPostProxySetup.txt](https://github.com/AdoptOpenJDK/IcedTea-Web/files/3924010/fatalErrorPostProxySetup.txt)

ITW version: 1.8.3

I am assisting with this error as @techRash has other taken to other priorities. I have added the mentioned properties to the deployment.properties file created in the C:/Users/[...]/.config/icedtea-web location. Is that the correct deployment.properties file

[2019-12-05 08:21] patris70 commented on #512
Hi @Chapma44

Did you create folder C:\Sun\Java yourself?
I asked, because **Oracle Java** create Folder **C:\Windows\Sun\Java\Deployment** as default (this is System-Wide configuration Folder for Java) and **not** C:\Sun\Java
Icedtea-Web uses  this Folder C:\Windows\Sun\Java\Deployment too for System-Wide configuration Folder. If you need using you must create two file in this folder
1- **deploym

[2019-12-05 08:43] 220160239 commented on #538
Add "-Clink-arg=/DEBUG:NONE" can solve the problem.

[2019-12-05 13:16] sclassen opened #539 "deployment.proxy.override.hosts vs. deployment.proxy.bypass.list"
@judovana
For me the current code looks a little messy around those two proxy settings.
Unfortunately I cannot find any documentation on the internet to how these settings are used.
But it seams they are somehow standardized for the entire Java and not just ITW
They are at least listed here: https://docs.oracle.com/javase/8/docs/technotes/guides/deploy/properties.html

Can you give any insight on

[2019-12-06 07:39] #538 closed

[2019-12-06 07:41] hendrikebbers commented on #531
@JAIMY86 at the moment we do not plan to add support for Oracle WebStart Rulesets

[2019-12-06 07:43] hendrikebbers commented on #513
Hi @techRash can you add the log from IcedTeaWeb please.

[2019-12-06 10:52] hendrikebbers opened #541 "java.lang.ClassNotFoundException: sun/misc/Launcher"
The following stack trace is shown in each application start:

[code]

[2019-12-09 09:18] sclassen commented on #539
We decided to currently only use the proxy bypass list, as we could not find any information on the net what the override hosts settings supposed to be doing.
We leave this issue open to remind us of this currently not supported property...

[2019-12-09 09:22] sclassen commented on #515
It is now available in OpenWebStart version 1.1.0
We will backport this to IcedTea-Web. But be warned that there is no date set for the ITW 2.0.0 release.

[2019-12-09 15:47] Chapma44 commented on #512
This ticket can be closed, we did not find a solution, but instead found that the software we were trying to run was very old (java 1.5 / java 1.6). Instead of continuing to push for a solution, we have determined that the owners of that software will need to do an upgrade before we continue trying to find a fix within IcedTeaWeb.

Thanks for your assistance in this troubleshooting.

[2019-12-09 15:48] #512 closed

[2019-12-12 09:56] SaschaJostock opened #547 "No entry for a JVM in the JVM Manager"
After install OpewebStart 1.1.0, i will configure the JVM in OpenwebStart.
Open the configuration Dialog from OpenwebStart and goto to JVM Manager,
then click the Button "Add", selected my JVM, click "open", create no entry for
a JVM in the Manager.
![image](https://user-images.githubusercontent.com/6065642/70702098-ccea4500-1ccd-11ea-97e5-1cc6372f0d23.png)
The list is empty. No Errors or log entr

[2019-12-12 10:20] SaschaJostock opened #548 "Could not start Webstart App since 1.0.0"
Since OpenWebstart 1.0.0 cannot start my WebstartApp.
Faild with NoClassDefFound, with the earlier Version from OpenWebstart start
the app successful.

![image](https://user-images.githubusercontent.com/6065642/70703699-e50f9380-1cd0-11ea-87b2-b4e8fd7e124c.png)

Console log
[console.log](https://github.com/AdoptOpenJDK/IcedTea-Web/files/3955179/console.log)

[2019-12-12 10:48] hendrikebbers commented on #547
Hi,
can you please provide the OpenWebStart Log-File?

[2019-12-12 10:49] sclassen commented on #547
Try to select a parent dir of the installation.
If this does not work could you please attach the log file from `%USER_HOME%\.config\.icedtea-web\log` to this ticket

[2019-12-12 11:08] hendrikebbers commented on #548
@SaschaJostock can you attach the JNLP file?

[2019-12-12 12:47] SaschaJostock commented on #547
I've select the parent dir of the Installation, no JVM found :-(
The Folder %USER_HOME%\.config\.icedtea-web\log is empty.
![image](https://user-images.githubusercontent.com/6065642/70713225-d2538980-1ce5-11ea-8e1a-c9aef6dc5d80.png)

[2019-12-12 13:00] SaschaJostock commented on #548
Here is the JNLP-File, as zip archiv

[PGopPresentationApp.zip](https://github.com/AdoptOpenJDK/IcedTea-Web/files/3955798/PGopPresentationApp.zip)

[2019-12-12 14:55] sclassen commented on #548
I find following stacktraces in log:
[code]

and

[code]

[2019-12-13 10:50] hendrikebbers commented on #547
to see some log you need to activate its in the OpenWebStart settings. Please activate debug logging and logging to file system

[2019-12-13 10:51] #541 closed

[2019-12-18 07:13] SaschaJostock commented on #548
Start and run the app with the same jnlp with Version 0.5.1 and 1.0.0 successful.
I will discuss with the dev team from the app.

[2019-12-18 08:39] sclassen commented on #548
We are currently reworking the loading of classes. We will also keep this ticket open to remind us that there is somthing to fix here

[2019-12-18 18:34] jboznw opened #554 "iDrac jnlp won't open"
iDrac controller jnlp will not open on AdoptOpenJDK 8 x64 as downloaded from Ninite.com
Sticks at this screen:
![image](https://user-images.githubusercontent.com/48067947/71113129-f8bc6d80-219a-11ea-84ca-16992566a172.png)

[2019-12-23 07:05] hendrikebbers commented on #554
can you please attach the URL of the JNLP file and the log of ITW.

[2020-01-02 21:12] Rareitor opened #557 "Cannot access jnlps://<url>"
After installing Openjdk (AdoptOpenJDK JRE 8 232) I can execute jnlp files no problem, but neither Edge, Chrome (79+/-) or Firefox (71+/-)  can invoke javaws or whatever component is supposed to read and parse jnlps:// type urls, at all.
I have not found any way to configure them to do so, and have checked that during the install of OpenJDK I checked all the relevant IcedTea options.

Relevant add

[2020-01-03 07:13] patris70 commented on #557
Hi @Rareitor ,

For Firefox:
in about:config add plugin.state.java with Value 1.
OR
Open prefs.js with Editor and add this line:
user_pref("plugin.state.java", 1);

For Chrome or Edge Chromium:
You must write a Extension (i have no any idea), because Chrome or Edge Chromium  does not launch Java automatically for JNLP resources (Google has configured JNLP file as dangerous with **auto_open_hint: D

[2020-01-03 08:43] NetOps-spectrum opened #558 "issue while launching jnlp with Adapt"
[code]

[2020-01-03 09:14] loeni-tech opened #559 "IBM BMC Remote Desktop JNLP does not launch due to trailing space in version tag"
Icedteaweb refuses to start ibm remote control jlnp with the error:

[code]

the relevant jlnp section is:
[code]

In my opinion, JSR-56, Appendix A is not crystal clear about trailing spaces. OracleJDK does accept this.
Would it be possible to make the Regex in AdoptOpenJDK/IcedTea-Web/blob/master/common/src/main/java/net/adoptopenjdk/icedteaweb/jnlp/version/JNLPVersionPatterns.java more tolerant

[2020-01-03 20:50] ansanes opened #560 ".jar resource file downloaded multiple times in a short period of time."
Hi. I'm using icedtea javaws (versiong: icedtea-web 1.6.2 (1.6.2-3ubuntu1)) to distribute my java application.

My jnlp file looks like this:
[code]

The application jnlp file and the resource MyApplication-1.0.jar file are hosted in an apache web server.
I've noticed in the access logs that some clients are requesting the jar file multiple times in a short period of time. Below is a snippet of th

[2020-01-04 01:11] Rareitor commented on #557
Thank you, I will try this out next week, see if it works.

[2020-01-06 11:08] sclassen commented on #558
The reason is that some JNLP file cannot be downloaded.
Without a complete log an the JNLP file(s) it is hard to tell what exactly is going wrong

[2020-01-06 11:11] sclassen commented on #559
@hendrikebbers we can trim the string and remove leading and trailing whitespace
do you see any issue with doing so?

[2020-01-06 11:13] sclassen commented on #560
The code for downloading of resources has been rewritten since version 1.6
We do no longer support this version.

Best approach would be to update to 1.8

[2020-01-06 11:13] #560 closed

[2020-01-06 11:15] hendrikebbers commented on #559
@sclassen sounds good

[2020-01-06 11:39] hendrikebbers commented on #559
see https://github.com/AdoptOpenJDK/IcedTea-Web/pull/562

[2020-01-06 12:33] #559 closed

[2020-01-07 19:23] NetOps-spectrum commented on #558
Attached are the requested logs

[jnlp.zip](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4032107/jnlp.zip)

And The log files shows the NullPointerException:

                                Connecting http://10.254.126.216:8080/spectrum/oneclick.jnlp\

done http://10.254.126.216:8080/spectrum/oneclick.jnlp\

Selecting proxy for: http://10.254.126.216:8080/spectrum/oneclick.jnlp\

Selected pr

[2020-01-09 07:43] sclassen commented on #558
can you try the following:
1. clear the cache
1. make sure the following are reachable:
   * [http://10.254.126.216:8080/spectrum/oneclick.jnlp](http://10.254.126.216:8080/spectrum/oneclick.jnlp)
   * [http://10.254.126.216:8080/spectrum/cryptoj.jnlp](http://10.254.126.216:8080/spectrum/cryptoj.jnlp)
1. start the jnlp and see if error is still there

To test reachability you can try to download th

[2020-01-09 11:03] lherschi commented on #534
https://github.com/AdoptOpenJDK/IcedTea-Web/issues/248#issuecomment-498236121

[2020-01-09 11:16] lherschi commented on #534
Here http://portal.incore.de/install/icedtea-web-1.8.3_x86.msi you can download my 32-bit build. However, this build already has a few backports from the master branch and deployment.https.noenforce defaults to true

[2020-01-09 11:31] lherschi commented on #415
Did you install ITW together with AdoptOpenJDK or individually? The msi installer from the individual installation actually creates the necessary registry entries. This may not happen with the AdoptOpenJDK installer.

[2020-01-09 11:50] lherschi commented on #392
I build under windows with the gnu build tools from my cygwin installation. You only have to say rust that he should use them.
32-bit: rustup default stable-i686-pc-windows-gnu
64-bit: rustup default stable-x86_64-pc-windows-gnu

[2020-01-09 13:54] lherschi commented on #392
I build the msi-installer without msvc and sdk. Rust needs the linker to be built to match the toolchain that is used to build. If you change the toolchain with rustup to x86_64-pc-windows-gnu or i686-pc-windows-gnu instead of x86_64-pc-windows-msvc or i686-pc-windows-msvc, rust uses the gnu-linker from the cygwin installation.

In addition, you do not need to copy the files from the wix toolset t

[2020-01-09 16:11] don-vip commented on #392
@lherschi can you please submit a new PR better than mine? You obviously know more than me on the topic.

[2020-01-15 16:43] AlexDeep6 opened #566 "IcedTea Web fails to Cache Jar files correctly. They have Size of 0 KB"
When I start specific JNLP Files (SAP PI Tools, some other Tools of our Company) I get an Error, that the main class could not load. Further investigations shows me, that the JAR Files from the OnlineRepositories are not downloaded correctly by javaws.

The JAR Files in the .Cache Folder are created, but stays 0 KB and of course couldnt load properly. I have other JNLP Files where the JAR Files do

[2020-01-15 17:26] AlexDeep6 commented on #397
Hello judovana: Sorry for my late response - I was out of office due to an accident. I still investigate AdoptopenJDK + Webstart in our Environment and still have the same issues. Ive opened another issue (#566) today, which more explains what Errors I get and what I already done for troubleshooting.

[2020-01-15 17:26] #397 closed

[2020-01-15 17:57] AlexDeep6 commented on #566
I've checked the JNLP which runs fine against the one which doesnt. The code for downloading JAR Files from the vendor repositories are different. See below:

Working JNLP
<jar href="some.jar" version="1.0"/>

Not Working JNLP
<jar href="directory/com.sap.xpi.ibdir.client.jar" download="lazy" part="part-11"/>

- changed Lazy to eager - no success
- removed HeapSize restrictions - no success
- remo

[2020-01-15 17:58] AlexDeep6 commented on #566
Working JNLP
`<jar href="some.jar" version="1.6"/>`

Not Working JNLP
`<jar href="directory/com.sap.xpi.ibdir.client.jar" download="lazy" part="part-11"/>`

[2020-01-16 05:59] sclassen commented on #566
could you provide log files and JNLP file for a non working application

[2020-01-16 08:22] AlexDeep6 commented on #566
Hello Sclassen,

See logfile (outputJWS.txt) and jnlp (directory.jnlp)
[directory.jnlp.txt](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4069999/directory.jnlp.txt)
[outputJWS.txt](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4070000/outputJWS.txt)

Iam able to download the jar Files manually via IE in every case where I see that 0 KB behavior.

[2020-01-17 23:08] sclassen commented on #566
I am not a 100% sure what is going wrng. I do see a lot fo stacktraces:
[code]
It looks like the jars are sent gziped from the server and ITW fails to unpack them and therefore you see the files only with size 0.
But why it cannot unpack is unclear to me

[2020-01-20 18:15] dpolivaev opened #568 "High CPU and memory usage when running application"
For debugging purposes I want to launch Java Web Start locally

[code]
Unlike java web start delivered with Oracle Java 8 IcedTea produces an exception shown below. Some internal logic requires a host and it is not able to handle local file protocols.

It would be nice if handling local files could be supported.

I use the version packaged with open web start project available at https://openwebst

[2020-01-20 18:33] dpolivaev commented on #568
I found that

[code]

works fine with both Oracle Java and IcedTea. Probably you can close the issue

[2020-01-20 18:38] dpolivaev commented on #568
Sorry, it starts but the exception traces are still in the log.
I am attaching the real  log file.
[itw-javantx-2020-01-20_19_30_16.55.log](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4087462/itw-javantx-2020-01-20_19_30_16.55.log)

[2020-01-20 18:52] dpolivaev commented on #568
After the application launches, it has unusually high CPU consumption.
After I close the application window the javaws.exe process continues running with high CPU consumption.

I can submit the application if needed.

[2020-01-21 05:46] NetOps-spectrum commented on #558
So YES of course all is reachable.. See attahced

[java.zip](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4089346/java.zip)

[2020-01-21 07:30] sclassen commented on #558
one last thing to try, then I am out of my wits...

Can you post the content of your `%USER_HOME%/.cache/icedtea-web/cache/recently_used`
Maybe something shows up in there

[2020-01-24 10:18] AlexDeep6 commented on #566
Hey there.

Does anyone has a clue, why the files arent properly unzipped. I see this error on another Applet we use.

With the other applet its strange - if I download the jnlp File from a http Source (testing area) it works fine. If I download the jnlp from a https source (productive area) it fails with the same 'Unexpected end of ZLIB input stream' error.

Could that be an Issue with certhandli

[2020-01-24 10:19] sclassen commented on #566
no, check you http server if it is using gzip compression or if it is sending the files uncompressed

[2020-01-24 10:31] AlexDeep6 commented on #566
Thanks for your fast reply.
I will check this on Monday.

[2020-01-26 22:37] puckipedia opened #573 "JARs downloaded with URI-escaped characters don't get loaded"
If a `jnlp` file is loaded that contains a JAR like `https://example.com/thing.jar?foo=bar%40baz`, the file gets stored in `.cache/icedtea-web/cache/N/https/example.com/thing.jar.foo_bar%40baz`, but but when the URI classloader tries to load the JAR, it doesn't load it.

I'm not certain on the exact details, but in 1.8, adding `%` to the `FileUtils.INVALID_PATH` list seems to fix it? This is 1.8.3

[2020-01-28 16:48] lherschi commented on #473
Can be closed.
https://github.com/AdoptOpenJDK/IcedTea-Web/pull/384

[2020-01-28 16:53] lherschi commented on #339
Can be closed.
https://github.com/AdoptOpenJDK/IcedTea-Web/pull/508

[2020-01-28 19:02] patris70 commented on #392
Hi,
any news or updste?
regards

[2020-01-28 23:06] #473 closed

[2020-01-28 23:07] #339 closed

[2020-01-30 10:47] sclassen commented on #283
There are currently no plans to support installer-desc in 2.0.0

[2020-01-30 10:47] #283 closed

[2020-01-30 10:48] #342 closed

[2020-01-30 10:57] #453 closed

[2020-01-30 10:58] #445 closed

[2020-01-30 10:59] #348 closed

[2020-01-30 10:59] #531 closed

[2020-01-30 11:00] #513 closed

[2020-01-30 11:01] #539 closed

[2020-01-30 11:01] #515 closed

[2020-01-30 11:01] #547 closed

[2020-01-30 11:02] #548 closed

[2020-01-30 11:02] #554 closed

[2020-01-30 11:04] #557 closed

[2020-01-30 11:04] #534 closed

[2020-01-30 11:08] sclassen commented on #568
Yes please can you provide the application for us to debug

[2020-01-30 13:30] netopyr commented on #440
Hi Matt,

Applets are currently not supported in ITW 2.0 and at this point there are no plans to support them. This is not a deviation from the JNLP-standard as this is an optional feature according to the specs.

We will definitely not support Applets in browsers (I assume, this would not be possible in modern browsers anyway.) But I can imagine to support Applets as standalone applications. This

[2020-01-30 17:38] NetOps-spectrum commented on #558
The changed in iced-tea settings to LOW security and was working for few days. Now again not working

Attached is the log
[recently_used.txt](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4135411/recently_used.txt)

[2020-01-30 19:04] sclassen commented on #558
Can you delete the directory `%user.home%\.cache\icedtea-web\cache`

[2020-02-03 22:30] dpolivaev commented on #568
Here it is.
The application contains Freeplane version 1.7.12 Java applet,
the source code is available at https://github.com/freeplane/freeplane/tree/release-1.7.12

[jnlp-test.zip](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4150516/jnlp-test.zip)

[2020-02-04 15:06] lherschi commented on #101
I think the ticket can be closed. Due to the changes in b826faf and 662c701, only HEAD requests are sent first and the results are correctly compared to the cache.

[2020-02-04 15:52] lherschi commented on #77
The program works for me under windows with ITW 1.8.3, but only when I turn on the java console.

[2020-02-05 19:43] #101 closed

[2020-02-06 11:31] benchpresser opened #586 "support for sun.awt.disableMixing = true"
we need this property sun.awt.disableMixing in the list of the
common/src/main/java/net/adoptopenjdk/icedteaweb/JavaSystemPropertiesConstants.java
and whitelisted in core/src/main/java/net/adoptopenjdk/icedteaweb/jnlp/element/security/SecurityDesc.java

otherwise we get problems running apps where LW and HW are mixed.
AFAIK, setting sun.awt.disableMixing in System.setProprty (after JVM has started

[2020-02-06 11:52] sclassen commented on #586
What are you understanding by 'whitelisted' ?
The properties in the lists `sandboxPermissions` and `jnlpRIAPermissions` are specified in the JSR-56.

[2020-02-06 13:54] AndreasEhret commented on #270
as the rest of the dialog's comboboxes do follow the ok/apply/cancel pattern this looks like a bug to me. Saving the entire config when main policy changes makes "cancel" not work any longer, therefore we should remove save on selection changed as proposed.

[2020-02-06 13:54] #270 closed

[2020-02-06 13:54] benchpresser commented on #586
same issue was in the oracle jdk
https://bugs.java.com/bugdatabase/view_bug.do?bug_id=6851271
https://bugs.java.com/bugdatabase/view_bug.do?bug_id=6788954
https://bugs.java.com/bugdatabase/view_bug.do?bug_id=6852243

in our application we have to mix hw+lw and also use a customglasspane (jdesktop jxlayer)
we run fine with adopt openjdk without jnlp (run as batch java .exe -jar etc) but get problem

[2020-02-07 14:44] ledahulevogyre commented on #475
This is solved for me. It has been solved in build 8u242 of ojdkbuild.
It was apparently already fixed in ITW.

Details in comments under https://github.com/ojdkbuild/ojdkbuild/issues/105

[2020-02-07 14:44] #475 closed

[2020-02-12 16:51] ledahulevogyre opened #588 "ECMAScript Engine not found"
The nashorn JS engine doesn't seem to be working when using ITW, even when all-permissions is declared.
Even if I add nashorn.jar in the classpath, it doesn't work.
Is it a security feature, or a bug ?

Thank you.

[2020-02-13 09:38] #440 closed

[2020-02-14 10:01] klaus4040 commented on #566
I'm experiencing the same problem. And yes, the webserver compresses with gzip. It is not within my domain though, so I can't disable it.

[2020-02-14 11:04] AlexDeep6 commented on #566
Hello Together,

I've searched about IcedTeaWeb and GZIP and found another Projekt: OpenWebstart via this Thread:
https://github.com/AdoptOpenJDK/IcedTea-Web/issues/487

With this Software and a local JVM (AdoptOpenJDK works fine here) all our Applets which has the GZIP Problem could be strarted. Further Tests from the ApplicationOwners will show if it works properly.

[2020-02-17 10:06] nigredo-tori commented on #573
Just hit this as well.
1. There was a snapshot dependency with version dynamically generated from Git history (`foo:0.1+12-abcdef01-SNAPSHOT`).
1. Coursier escaped the corresponding JAR as `foo-0.1%2B12-abcdef01-SNAPSHOT.jar`.
1. The SBT plugin we use to build our JNLPs used that file name as-is.
1. On the client side, the JAR is successfully downloaded/cached, but it fails to load.

[2020-02-19 14:34] cohe opened #591 "Unsupported optional start parameter "SurvivorRatio" makes all parameters being ignored"
**Platform:** Windows7 and Windows10

**Architecture:** 32bit and 64bit

When starting a complex webStart-Application via IcedTea and/or OpenWebStart,
all optional start parameters are ignored
if the option -XX:SurvivorRatio=6 exists.

Tested on systems mentioned above.
It has resulted in an out-of-memory situation since another parameter -Xmx was not applied.
Removing the option -XX:SurvivorRatio

[2020-02-22 17:36] don-vip opened #595 "--add-modules JVM parameter doesn't seem to be honored"
The [JOSM JNLP file](https://josm.openstreetmap.de/download/josm.jnlp) declares the following JVM arguments:

[code]

As per:
* https://josm.openstreetmap.de/ticket/18751 (icedtea-web:x86_64-1.7.1)
* https://josm.openstreetmap.de/ticket/18737 (icedtea-netx:all-1.7.2-2)
* https://josm.openstreetmap.de/ticket/18742 (icedtea-netx:amd64-1.8-0ubuntu8)
* my own experience running OpenWebStart 1.1.4 with

[2020-02-26 15:14] janakmulani commented on #190
Played around a bit with the jnlp file on windows and found that the characters you see depend on the encoding used when saving the jnlp file on your machine. On my windows machine I start your app using the URL https://apoweb-preprod-integration.phmd.net/preprod_integration/version.jnlp. On my machine version.jnlp is saved in UTF-8 format and I see the proper name with accented character for Desk

[2020-02-27 10:22] janakmulani commented on #591
Can you please send your jnlp file?

[2020-02-27 11:11] haddybo commented on #566
Hi sclassen，
     We witnessed the same issue, any plan to fix it?  The .zip file decompress fail is introduced [here](https://github.com/AdoptOpenJDK/IcedTea-Web/commit/3f08fb429347209a8d7d8f2dde779df5e862f7af).

[2020-02-27 11:47] sclassen commented on #566
@judovana do you have plans for another 1.8.x release?
We still focus all of our developmento onto the 2.0.0 release. But unfortunately we do not have a ETA yet.

[2020-02-27 12:13] cohe commented on #591
Hello janakmulani,

the old parameter line was:
`<j2se version="1.5+" java-vm-args="-Xmx512m -Xms128m -XX:SurvivorRatio=6 -XX:NewSize=96m -XX:MinHeapFreeRatio=20 -XX:MaxHeapFreeRatio=30"/>`
there every parameter was ignored.

After removing `-XX:SurvivorRatio=6` the other parameters are applied:
`<j2se version="1.5+" java-vm-args="-Xmx512m -Xms128m -XX:NewSize=96m -XX:MinHeapFreeRatio=20 -XX:MaxHe

[2020-03-02 09:35] janakmulani commented on #591
Thanks for the jnlp. I can reproduce the issue.

[2020-03-06 07:18] NetOps-spectrum commented on #558
Customer already applied but still facing issue, following is customer reply:

not helped. Now not occured same error but HUNG on starting OC

and customer shared the attached screenshot of the error.

<img width="1015" alt="Screenshot 2020-02-17 at 17 42 31" src="https://user-images.githubusercontent.com/58945429/76061070-b855da00-5fa8-11ea-81ed-667cf6b45f7c.png">

[2020-03-06 07:30] sclassen commented on #558
@judovana this is a 1.8 installation. I do not know what further to try to debug this issue. Any ideas?

[2020-03-10 09:27] dealboy opened #602 "Unexpected end of ZLIB input stream (jnlp launch on MS-Windows)"
Hi,

I am having a jnlp that I try to make it work with AdoptOpenJDK and IcedTea-Web

Running 👍

I get the following error stack

[code]

Any help or ideas would be appreciated!

thanks in advance
Yannis

[2020-03-10 09:36] sclassen commented on #602
can you try your jnlp with https://openwebstart.com/

[2020-03-10 09:48] dealboy commented on #602
I just did, and I get an errror pop-up :

 do I miss some configuration?

[2020-03-10 09:49] sclassen commented on #602
it depends :wink:
What is the Java version your application requires?

[2020-03-10 09:52] dealboy commented on #602
hmmm,
I forgot to mention that the app is for java 1.8 and I work with AdoptOpenJDK 1.8.0_242

[2020-03-10 09:55] sclassen commented on #602
OK. then make sure that in your JNLP you have a `<java>` or `<j2se>` tag with an attribute `version="1.8+"`

Then OpenWebStart will automatically download a suitable JVM.
Alternatively you can open the program `itw-settings` which is located in the installation directory besides the `javaws` executable.
There you will find the configurations. In the tab for JVM-Manager you can configure which JVMs

[2020-03-10 10:13] dealboy commented on #602
Great!
I added manually the entry with itw-settings (my VMs do not have internet access) and works fine!
Thanks a lot @sclassen

I have a couple of housekeeping questions, if you may answer:
should I drop IcedTea-Web and use Openwebstart?
will that be included in AdoptOpenJDK installer in the future (as there is IcedTea-Web) ?
and finally, is there a way to configure the local JREs without the itw

[2020-03-10 10:27] sclassen commented on #602
Sure

OWS is based on ITW and uses it internally. But it is using a 2.0.0-alpha branch of ITW and not the 1.8 branch.
But OWS works orthogonal to ITW because it provides a JVM manager which will download appropriate JVMs as they are required. ITW on the other hand can only launch applications in the current JVM.
For this reason OWS will never be bundled with Adopt or any other JVM.

I do not have

[2020-03-12 19:56] worryboy commented on #329
Hi hwo ist teh status of this bug ? It blocks our current ussage.

[2020-03-12 20:01] sclassen commented on #329
Sorry no progress. There is currently nobody fixing 1.8 issues

[2020-03-12 20:34] worryboy commented on #329
hi .. thx and bad news..

sugestions ? workaround ?

[2020-03-12 21:26] sclassen commented on #329
Is your applet run in a browser or do you start it from an jnlp file?

If the later is the case you can simply give all-permissions in the jnlp file

[2020-03-16 08:44] NetOps-spectrum commented on #558
Any update on this as there are multiple customers facing this issue?

[2020-03-16 10:26] douph1 commented on #558
Hi,
Inside jnlp.zip I see :
line: 5 <jnlp spec="1.0+" codebase="http://10.254.126.216:8080/spectrum" href="/spectrum/oneclick.jnlp" xmlns="http://www.w3.org/1999/xhtml">

I think codebase + href must match a good url which is not the case
try something like this ( dont duplicate "spectrum"  ) :
<jnlp spec="1.0+" codebase="http://10.254.126.216:8080/spectrum/" href="oneclick.jnlp" xmlns="http://www

[2020-03-17 14:59] vasvir opened #607 "IcedTea-Web and basic http authentication: Credentials are required multiple times"
Hi,

I have a webstart application that is protected behind a http basic authentication site.

The application loads & works if I turn off the authentication,

With the authentication turned on IcedTea-Web asks for the same credentials multiple times. I believe as many times as the individual jars of my application. Since the jars are 117 it is not easy to tell my users to enter their credentials

[2020-03-18 04:07] jagadeesanvol opened #609 "Exception in thread "AWT-EventQueue-1" java.lang.ExceptionInInitializerError"
I am trying to launch the swing application through jnlp. getting below errors.
Enviroments:
Wondows 10+icedtea-web-1.7.1-image+java-1.8.0-openjdk-1.8.0.212-3.b04.redhat.windows.x86_64
Note: If I launch the application directly from eclispe , it is NOT throwing any errors and application working properly

Exception in thread "AWT-EventQueue-1" java.lang.ExceptionInInitializerError
      at com.d.f

[2020-03-18 06:58] sclassen commented on #609
1.7 is not supported any more.
Can you try a 1.8 version or https://openwebstart.com

[2020-03-18 08:39] jagadeesanvol commented on #609
Hello,
Thanks for your email.
I have used the java-1.8.0-openjdk-1.8.0.212-3.b04.redhat.windows.x86_64
version

On Wed, Mar 18, 2020 at 12:28 PM sclassen <notifications@github.com> wrote:

[2020-03-20 11:34] sclassen commented on #607
thanks for reporting this.
We will look into it.
Can you tell us which version you are using?

[2020-03-20 11:39] sclassen commented on #588
Can you be more specific what does "not working" mean.
Do you get an exception or just no result?

[2020-03-20 11:40] vasvir commented on #607
The last one. 1.8.3 with the latest patch of java 11 from adopt open jdk project both.

I can provide a jnlp (privately) to verify the behavior if required.

[2020-03-20 11:44] sclassen commented on #607
Thanks we will first try to reproduce with our infra.
It just might be that we will only fix it for the upcoming version 2.0.x
And https://openwebstart.com

[2020-03-21 04:20] jagadeesanvol commented on #198
I am facing same issue as setting log folder for application.
deployment.user.logdir=C\:\\Users\\<sysname>\\Downloads\\icedtea-web-1.8.3.win.bin\\icedtea-web-image\\log
application is launching perfectly.I am not able to see my client log.
version:icedtea-web-1.8.3.win.bin
please help me this.

[2020-03-21 07:33] sclassen commented on #198
Make sure to correctly escape special chars:

`deployment.user.logdir=c:\\temp\\logs` or `deployment.user.logdir=c\:/temp/logs`

[2020-03-21 19:49] ledahulevogyre commented on #588
The following test prints "jdk.nashorn.api.scripting.NashornScriptEngine@17faa95" when running from the command line. But through IcedTea-Web, it prints "null".

    ScriptEngineManager manager = new ScriptEngineManager();
    System.out.println(manager.getEngineByName("ECMAScript"));

It seems that the nashorn JS engine is not accessible when running through IcedTea-Web.
You can run this test you

[2020-03-23 06:52] danieltoril opened #610 "Caused by: java.io.IOException: java.lang.NullPointerException: name can't be null"
net.sourceforge.jnlp.LaunchException: Fatal: Read Error: Could not read or parse the JNLP file. You can try to download this file manually and send it as bug report to IcedTea-Web team.
	at net.sourceforge.jnlp.Launcher.fromUrl(Launcher.java:489)
	at net.sourceforge.jnlp.Launcher.launch(Launcher.java:289)
	at net.sourceforge.jnlp.runtime.JnlpBoot.run(JnlpBoot.java:67)
	at net.sourceforge.jnlp.runt

[2020-03-23 07:09] sclassen commented on #610
This exception happens when a jnlp file (main or extension) cannot be doenloaded. Can you please enable logging to file and debug logging.
You can then attach a log to this issue or check yourself what the problem is with downloading of the jnlp file

[2020-03-23 07:24] danieltoril commented on #610
Hi, this is the log, I've attached de jnlp file with txt extension, can you see to find or try tu debug?. With Oracle JDK works fine. Thanks

[2020-03-23 07:31] danieltoril commented on #610
[itw-javantx-2020-03-23_08_28_40.463.log](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4367807/itw-javantx-2020-03-23_08_28_40.463.log)

[2020-03-23 13:28] #610 closed

[2020-03-23 22:07] sclassen commented on #588
Found the issue:
The problem is that the JNLPClassloader is not properly setup in the class loader hierarchy.
Currently it is a child of the bootstrap class loader. But correctly it should be a child of the system class loader (see https://www.baeldung.com/java-classloaders)

Will be fixed in 2.0.0

[2020-03-23 22:11] sclassen commented on #610
The log shows multiple exceptions:
[code]
Please check the setup of your server

[2020-03-24 07:43] ledahulevogyre commented on #588
Thank you very much for the info.
I see v. 2.0.0 is in alpha stage. Do you have any rough estimate of a date for the prod release ?

[2020-03-24 08:56] sclassen commented on #588
There is no prod release planned in the near future.
But there exists https://openwebstart.com which builds on 2.0.0-alpha

[2020-03-24 09:49] activityworkshop opened #611 "Minor typos in english texts"
Hi all,
I noticed a minor typo in one of the warning messages shown: "Be very careful when application is loading from different space th**e**n you expect" - in this case "then" should be "than".
The version reported is 19.6.26659.7340" if that helps.  It's provided by Debian's package of icedtea-netx version 1.7.2-2.

I found the text in the file "common/src/main/resources/net/adoptopenjdk/icedte

[2020-03-24 15:04] StewartK613 commented on #394
So, by modifying the files noted above (and adding one as well) this will give the functionality of vetting SHA256 signed JAR files to run? Newbie here, thanks

[2020-03-24 15:19] patris70 commented on #394
Hi @StewartK613,
yes, but you can add SHA256 in SYSTEM EXCEPTION file NOT in USER EXCEPTION.
hope to help
Regards

[2020-03-24 15:23] StewartK613 commented on #394
Thats perfect. I may have a few more questions, if thats OK. I'll start making the modifications
Thanks patris70

[2020-03-24 15:36] patris70 commented on #394
@StewartK613,
you cal always write you questions.

Regads

[2020-03-24 16:00] StewartK613 commented on #394
Quick question, the line numbers you have indicated above, I am to replace that line with the information you have given? In some cases, it looks as tho I will be breaking the syntax of the current line
Thanks

[2020-03-25 11:03] patris70 commented on #394
@StewartK613,

please use my zip files.

Regards

[2020-03-25 14:08] StewartK613 commented on #394
OK thanks

[2020-03-25 14:23] ledahulevogyre commented on #588
Ok. Thank you.
I have two more questions:

When you say JNLPClassloader will be fixed in 2.0.0, do you mean it's already fixed but not in a release yet? or is it already fixed in the icedtea-web-2.0.0-alpha12 release ? Or a fix is yet to be developed ?

Do you know if AdoptOpenJDK and ojdkbuild also build on 2.0.0-alpha ?

Thank you very much.
Have a good day

[2020-03-25 14:35] StewartK613 commented on #394
Do you have the other ZIP files available (JarCertVerifier.java , CertInformation.java, etc)
And again, thanks for your time

[2020-03-25 16:36] StewartK613 commented on #394
how do I get the itweb wettings to recognize the new settings in netx.src?
Thanks

[2020-03-25 18:43] sclassen commented on #588
It is fixed on the branch classloader-prototype.
But be aware that this branch is an experimental re-implementation of the core of ITW. Some features are missing compared to master (e.g. sandboxing)

As far as I know there are currently no 2.0.0-alpha builds from Adopt

[2020-03-25 21:08] sclassen commented on #611
A pull request would be highly appreciated

[2020-03-26 09:19] AndreasEhret commented on #609
@sclassen is talking about the IcedTea-Web version here (1.7.x) not the JDK version.

[2020-03-26 09:19] #609 closed

[2020-03-26 18:10] activityworkshop commented on #611
pull request on the way.  let me know if it needs tweaking.

[2020-03-31 19:41] sclassen commented on #611
merged #612

[2020-03-31 19:41] #611 closed

[2020-04-03 20:46] thezboe opened #618 "Direct socket download fails"
[code]

This is due to this line https://github.com/AdoptOpenJDK/IcedTea-Web/blob/76bf7aa0561443a31ec0e3e0f924980ae6a3e19b/core/src/main/java/net/adoptopenjdk/icedteaweb/resources/downloader/BaseResourceDownloader.java#L179

If you are going to split a line, then access [0] and [1], then the filter line should read:
```                .filter(a -> a.length == 2)```
to ensure the array has length 2

[2020-04-03 20:58] sclassen commented on #618
Thanks for finding this mistake, it is a part of the code which rarely is executed.
fixed in https://github.com/AdoptOpenJDK/IcedTea-Web/commit/fd2b26f8b480081ed499fca50944ad2050c58924

[2020-04-03 20:58] #618 closed

[2020-04-06 11:51] NetOps-spectrum commented on #558
Here is the output customer sent.

net.sourceforge.jnlp.LaunchException: Fatal: Initialization Error: Could not initialize application. The application has not been initialized, for more information execute javaws from the command line.

    at net.sourceforge.jnlp.Launcher.createApplication(Launcher.java:822)

    at net.sourceforge.jnlp.Launcher.launchApplication(Launcher.java:531)

    at net.s

[2020-04-08 11:22] mhoare1984 opened #619 "Cannot run JNLP file on Windows with space in profile directory"
I am unable to run any JNLP file in Windows with AdoptOpenJDK/IcedTea-Web for user accounts that have a space in the account name. E.g. The windows profile is C:\Users\X[SPACE]Y\. If I create a user account on the same machine without a space, I can launch any JNLP file without error. Due to odd ball software requirements we have a few accounts that require spaces.

Below is the Java console outpu

[2020-04-08 13:09] sclassen commented on #619
Which version are you running?

[2020-04-09 10:23] mhoare1984 commented on #619
1.8.3 bundled with the latest version of AdoptOpenJDK 1.8.0_242.

I found a workaround. Using itweb-settings.exe on the Cache settings section, change the “Select the location where temporary files are kept” to a directory that does not contain a space.

Then it works.

From: sclassen <notifications@github.com>
Sent: Wednesday, 8 April 2020 10:40 PM
To: AdoptOpenJDK/IcedTea-Web <IcedTea-Web@norepl

[2020-04-09 10:27] sclassen commented on #619
OK, this is already fixed in the 2.0.0 branch
Check out https://openwebstart.com for a preview how ITW 2.0.0 will work

[2020-04-09 10:27] #619 closed

[2020-04-09 14:53] AndreasEhret commented on #586
please test with 1.1.7

[2020-04-09 14:53] #586 closed

[2020-04-09 14:54] AndreasEhret commented on #595
it is fixed in OpenWebStart (release 1.1.7)

[2020-04-09 14:54] #595 closed

[2020-04-10 08:23] benchpresser commented on #586
thank you very much i am testing it

[2020-04-14 16:58] joakim-tjernlund opened #622 "RUN_ARGS_LOCATION in itweb-javaws is wrong"
I got
[code]
which point to where icedtea-web was built, how do a configure, during build, another location?

[2020-04-14 17:27] NetOps-spectrum commented on #558
Any Update?

[2020-04-14 17:56] sclassen commented on #558
This issue is on the 1.8 branch.
You can try https://openwebstart.com which is based on the 2.0 branch

[2020-04-14 19:35] sidvar9 commented on #394
Hello All. I have a QQ on the public availability of ITW 2.0

Is there a date set already for this? Thanks!

[2020-04-14 20:38] sclassen commented on #394
No, there is currently nobody working on setting up a build for creating an executable binary and an installer.
There exists https://openwebstart.com which is based on the 2.0 branch

[2020-04-16 09:10] vskladov opened #624 "Apache LoadBalancer with OpenWebStart: Session Stickiness Problem"
Hi,

I use IcedTea-Wab based OpenWebStart from Karakun at the moment to run our WebStart applications.
But I have a problem with session stickiness, trying to build a Apache LoadBalancer Cluster. The required cookie, configured in a LoadBalancer, is not being sent with the request.

The problem appears only while using OpenWebStart, it works fine with Oracle JDK8. It seems to do with the following

[2020-04-18 12:50] #624 closed

[2020-04-18 12:54] vskladov commented on #624
I've managed to do it using Java CookieHandler class, adding manually JSESSIONID cookie, got from Tomcat, to URLConnection.

[2020-04-18 21:32] cedricbousmanne opened #627 "net.sourceforge.jnlp.LaunchException: Fatal: Read Error: Could not read or parse the JNLP file"
Hi,

I'm running into an issue trying to launch a JNLP file.

The file is a card game available online, it works well on a windows computer with `javaws`, but I can seem to have it working on my computer (Linux/Manjaro).

I have little to zero experience with Java or IcedTea-Web, but I seem to understand that the distant `?application_launch` returns a 403 error instead of a 200 which would hopefu

[2020-04-18 21:41] sclassen commented on #627
Can you please also attach the JNLP file

[2020-04-19 20:03] cedricbousmanne commented on #627
Here's the JNLP file : [whist.jnlp](https://gist.github.com/cedricbousmanne/9194eb56135bd1c557ce53b0a308b7af)

[2020-04-20 11:34] sclassen commented on #627
OK, I found an issue in our code. But fixing this did not resolve the issue.
I keep on getting a HTTP 403 response from the server.
But when I try to access the URL from the browser I get a 200.
So it seams there is some rule in place which rejects the requests from OWS.

[2020-04-20 11:54] sclassen commented on #627
Further trials show that useing HTTP instead of HTTPS lets me download all resources.
never the less I end in a known classloader problematic.
You can try our 3.0.0-alpha release to see if the classloader issue is fixed there.
But first you should find out why your server is rejecting the HTTPS requests from OWS

[2020-04-20 12:01] sclassen commented on #627
OK, enforcing HTTP and using 3.0.0-alpha I can launch the application and reach the login scree

[2020-04-20 21:32] cedricbousmanne commented on #627
Thank you very much.

I'm not familiar with java though. I downloaded the [3.0.0-alpha1](https://github.com/AdoptOpenJDK/IcedTea-Web/releases/tag/icedtea-web-3.0.0-alpha1) release and i seem to understand that i need to lauch the `./launchers/build.sh´ script but it also seem i'm missing some ENV variable.

I couldn't find a doc explaining how to build it from the source, could you point me one so

[2020-04-20 21:33] sclassen commented on #627
You can find binaries in the open web start project:
https://github.com/karakun/OpenWebStart/releases/tag/v3.0.0-alpha1

[2020-04-21 06:13] cedricbousmanne commented on #627
Thanks. I managed to install the 3.0.0.alpha version. Although I still cannot run the application.

Here's the [logfile](https://gist.github.com/cedricbousmanne/a6c7888a5a8625555d3121bc5e43c1d7) and the [JNLP](https://gist.github.com/cedricbousmanne/61aec81ec78d2012a6d03e3e33405eff) modified as you advised. Do you see something I would have done the wrong way?

[2020-04-21 06:26] sclassen commented on #627
No, you are currently seeing the bug which I fixed on master but is not yet in a release.

A tmporary workaround would be to remove the `href='/?application_launch'` from the JNLP.
The next version will contain the fix.

[2020-04-21 07:17] cedricbousmanne commented on #627
It seems to work indeed, I have the prompt at the start and the bell sound that indicated the code runs, although all I see is a white screen. I think this is outside of this bug's scope but if you have any suggestion that'd be helpful

[2020-04-21 07:21] sclassen commented on #627
Could be related to the java version.
You could set the version in the JNLP to `1.8*`.
Maybe this has an effect

[2020-04-21 07:41] cedricbousmanne commented on #627
I changed this line
`<jnlp spec='1.5+' codebase='http://www.whistenligne.com'>`
Like this :
`<jnlp spec='1.8*' codebase='http://www.whistenligne.com'>`

Is that what you meant? If so unluckily it didn't work.

[2020-04-21 07:45] sclassen commented on #627
Sorry for being unclear. I ment tge `j2se` version

[2020-04-21 08:01] cedricbousmanne commented on #627
Still no luck :(

Do you see the login screen yourself?

[2020-04-21 11:10] sclassen commented on #627
I see the following with Azul 1.8.0_242 and Adopt 1.8.0_242

![loginScreen](https://user-images.githubusercontent.com/1795224/79859451-570b8e00-83d1-11ea-82f8-d0409b9e6275.png)

[2020-04-21 11:12] sclassen commented on #627
Maybe you see something in the client log. The file is named `itw-clienta-2020-04-*.log`
And should be in the same directory as the other logs.
Maybe you need to activate the log to file in the settings first.

[2020-04-21 13:05] cedricbousmanne commented on #627
I've installed and configured itw to use the same version as yours, but still have the same issue

Heree's [the client log](https://gist.github.com/873923c5555f3cf087f79f1beac4f9c0) : i see a bunch of warning but none of them seems critical, am I right?

[2020-04-21 14:13] sclassen commented on #627
Yes non of them are an issue.
Does your application log anything?
There are no more log lines after the main method of your apllication is invoked.

[2020-04-21 15:44] cedricbousmanne commented on #627
I don't see any other logs. Are they supposed to be in the same file or somewhere else?

[2020-04-21 17:20] sclassen commented on #627
They should be in the same file.
`System.out` and `System.err` are captured an printed to the above file.
It now depends on the configuration of your logging framework. If it prints to System.out then it should be in this file. If you log using a file appender then the logs are in the directory specified by your configuration.

[2020-04-21 20:41] cedricbousmanne commented on #627
I emptied the log folder and retried it. I now have 3 log files :

1. [itw-clienta-2020-04-21_22:33:37.147.log](https://gist.github.com/287a62d043a7fbd204a4eb555c43517f)
2. [itw-javantx-2020-04-21_22:33:35.665.log](https://gist.github.com/287a62d043a7fbd204a4eb555c43517f)
3. [itw-javantx-2020-04-21_22:33:47.476.log](https://gist.github.com/cedricbousmanne/8d89220d65859d3564a030e25ebe412f)

The sec

[2020-04-22 20:11] pkeusem opened #629 "FirefoxPreferencesFinder.find() method does not handle absolute paths correctly"
In looking for the Firefox preferences file: prefs.js, the FirefoxPreferencesFinder.find() method is invoked to locate and read the Firefox user profile.ini file.  The method searches the profile.ini file for the default profile section and use the value of the PATH property from that section to formulate a path to the user's pref.js file.  The PATH may be relative or absolute, this is indicated b

[2020-04-22 21:01] sclassen commented on #627
sorry was busy today
1. and 2. point to the same gist

[2020-04-23 06:04] cedricbousmanne commented on #627
My bad, i edited my previous comment accordingly

[2020-04-23 06:27] sclassen commented on #627
OK, I see the line you mention.
It is not related. It comes from the JVM Manager. It is telling you, that it was not able to download the list of available JVMs from the server. Therefore it will chose a JVM which is already installed on your machine.

It looks like you have changed the URL of the server in the JVM Manager settings. If you are trying to host your own server have a look at our guid

[2020-04-23 06:53] cedricbousmanne commented on #627
It was not my intention, i tried a bunch of things before reaching out here.

I reverted to what I think was the default value, but I still got the white screen after having had the prompt "pas de nouvelle version disponible pour le moment"

Here's the [updated log file](https://gist.github.com/cedricbousmanne/e6b362c7dbb65d2d0cede759c57dc2f5)

[2020-04-26 18:20] karianna opened #631 "Clarify LICENSE file for 2.0"

[2020-04-27 10:26] hendrikebbers commented on #631
I do not think that the licence has changed. Adding @netopyr

[2020-04-27 18:44] cedricbousmanne commented on #627
Update : i retried yesterday after a full reboot and it worked.

I have no idea how. Thanks for your time & help!

[2020-04-27 18:44] #627 closed

[2020-04-28 16:00] hendrikebbers commented on #631
Looks like at least 1 dependency has been added to ITW 2.0 branch. I will double check all dependencies & licences

[2020-04-29 13:18] pkeusem opened #633 "javaws command line output cannot be redirected on Windows"
If you run javaws (IcedTea-Web 1.8) from the command line on Windows, all output is written to the command window.  Redirection of stdout or stderr have no effect on the output.  This makes it difficult to make use of the output of javaws for debugging.

Note:  The Linux version of IcedTea-Web 1.8 behaves correctly.

[2020-04-30 18:30] conathan commented on #469
Is there anything further I need to provide for this?  It is currently flagged as needing further information

[2020-04-30 22:09] sclassen commented on #469
No, but we currently have no resources to solve this issue.
The jnlp you have is not valid xml. Thus it is not valid according to the JSR-56.

If you are able to provide a pull request, we are more than happy to review and merge your contribution.

[2020-05-02 08:09] sclassen commented on #627
Great to hear it works !!
If you are not sure about the default value you can clear the field. If no value is set the default is taken.

[2020-05-08 07:58] sclassen commented on #629
There is a new implementation for proxy in https://openwebstart.com
Can you try this.
We plan on migrating the proxy implementation over to IcedteaWeb in the future

[2020-05-10 18:11] Bombita010 opened #637 "Use of unsafe third-party libraries"
### Brief description of bug
#### Self-Diagnosis
- [x] I did a vulnerability check on this project
- [x] The results show that this project uses a third-party library with security vulnerabilities
- [x] The library used by this project:icedtea-web-parent-2.0-SNAPSHOT.pom. Exist in the National Information Security Vulnerability Database

#### Environment(for bug reports)
- [x] Operating System:Mac

[2020-05-10 19:53] sclassen commented on #637
closing this as CVE-2019-10185 is a known vulnerability of Icedtea-Web which has been fixed on master.

[2020-05-10 19:53] #637 closed

[2020-05-11 11:37] judovana opened #638 "Launchers are missing IPAddress on cp"
ssia

[2020-05-11 11:37] judovana commented on #638
Will fix it once time get a bit friendly. It is necessary to get added.

[2020-05-11 17:22] conathan commented on #469
Looking through the code, it looks like you use MalformedXMLParser for similar cases, sounds like it uses a library called tagsoup that can deal with some invalid xml issues.

Don't know  at this time if tagsoup can deal with < ? - -  ... - - > yet,

Timewise not sure when, but I'll see if I can get a environment together that can compile and test the below
* wanted to tinker with ignoreBogonsFeat

[2020-05-12 06:31] sclassen commented on #469
I guess stripping `<?-- ... -->` from the input stream would be the way to go.
Look at the class `XMLSanitizer` it already removes comments...

[2020-05-18 15:09] zalexeev opened #640 "Windows desktop shortcut with null target"
I running Java Swing Application with Java Web Start (jnlp). Jnlp contains configuration which creates windows desktop shortcut for our application.
  <shortcut>
		   <desktop/>
          <menu submenu="app name"/>
  </shortcut>

Shortcut created with Oracle jdk have target like this:
"C:\Program Files (x86)\Java\jre1.8.0_181\bin\javaws.exe" -localfile "C:\Users\zalexeev\AppData\LocalLow\Sun\Java\

[2020-05-18 15:22] sclassen commented on #640
please attach the JNLP file.

[2020-05-18 15:31] zalexeev commented on #640
[netxplorer.jnlp.txt](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4645078/netxplorer.jnlp.txt)

[2020-05-19 20:05] sclassen commented on #640
The JNLP looks good. So I have more questions:
- do you see any exceptions in the log? make sure to turn on logging to file and debug in the settings
- is there a different version of the JNLP at http://10.110.108.180/netxplorer.jnlp  ?

[2020-05-19 21:45] joakim-tjernlund commented on #622
1.8 has the same problem

[2020-05-20 06:03] zalexeev commented on #640
I turned on logging and debug and see a lot of exceptions. I working with Chrome browser and in the log it write not found Firefox settings. I tried to work with with IE and Firefox, problem is the same. Log file attached.
[itw-javantx-2020-05-20_08_46_03.398.log](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4654903/itw-javantx-2020-05-20_08_46_03.398.log)

[2020-05-20 07:05] sclassen commented on #640
The error message about firefox is only related to proxy. ITW is trying to read the proxy settings from firefox profile. You can change the proxy settings in ITW to make this exception go away.
The rest of the exceptions are class not found. Unfortunately ITW 1.8 is very verbose on debug. Especially the class loader.

What is more interesting is that on line 31 there is no `href` attribute in the

[2020-05-21 12:31] KarstenL680 commented on #347
Hello Team,

it is now more than half a year and the bug is still present, do you have any updates on this?

Regards

[2020-05-21 20:08] sclassen commented on #347
We are still working on v 2.0
Until then you can have a look at openwebstart.com
It is based on the the v 2.0 alpha releases of ITW

[2020-05-22 11:25] hendrikebbers commented on #347
More details:
For me it looks like that this is related to the proxy handling of ITW.

The tool OpenWebStart (openwebstart.com) is based on ITW. In OpenWebStart we replaced the proxy handling of ITW with a new implementation since we found several problems in the proxy handling of ITW. We have not done this change directly in ITW since we wanted to test the new implementation first without "destro

[2020-05-22 11:30] hendrikebbers commented on #631
https://github.com/AdoptOpenJDK/IcedTea-Web/pull/643 removes code with licence != GPL
https://github.com/AdoptOpenJDK/IcedTea-Web/pull/639 removes code with licence != GPL
https://github.com/AdoptOpenJDK/IcedTea-Web/pull/636 removes code with licence != GPL

[2020-05-22 11:37] JAIMY86 commented on #347
@hendrikebbers , with Openwebstart, issue seems to be not appearing while running JNLP files directly from internet and also the proxy settings are taking from the default browser settings.

[2020-05-22 13:20] hendrikebbers commented on #631
https://github.com/AdoptOpenJDK/IcedTea-Web/pull/644 does a relayout of the licence headers to have the same format in all files (no licence change here)

[2020-05-22 13:39] hendrikebbers commented on #347
Very good :)
We plan to do  the migration in near future. Once this is done a new version of ITW will be released.

[2020-05-25 07:14] vnashkev opened #645 "SingleInstanceService works correctly just for the first application run"
After first start lock file with a port number is created

C:\Users\user\AppData\Local\Temp\user\netx\locks\http___localhost_jnlp.jnlp.

Lock file still exists after application termination.
Next time SingleInstanceServer fails to start with the following exception:
[code]

Test  case demonstraits the problem:
[code]

[2020-05-25 12:44] zalexeev commented on #640
Thank you! Now it's works. It was no href in the jnlp

[2020-05-25 12:44] #640 closed

[2020-05-28 13:40] NetOps-spectrum commented on #558
Resolved now, can close the issue

[2020-05-28 13:40] #558 closed

[2020-05-28 13:42] ghost opened #648 "Getting error while trying to launch using OpenWebStart"
**Adopt Open JDK** : OpenJDK8U-jre_x64_windows_hotspot_8u232b09

**OpenWebstar**t : v1.1.6

![image](https://user-images.githubusercontent.com/58945429/83148882-16f9a280-a117-11ea-85e3-e96f36ddd56f.png)

Any help/clue?

[2020-05-28 14:03] hendrikebbers commented on #648
Hi,
we need some additional information here:
- Have you signed your JARs?
- Have you used custom certificates?

[2020-05-28 14:18] matthema commented on #440
@netopyr thank you for the reply and the additional information. Sorry, but I didn't see your reply until just now, otherwise I would have replied sooner. Support for Applet is critical for our product at this time. We could certainly transform it into an application, if necessary. Might I ask... Where can I find more information about the IT-W roadmap to remove Applet support? And where can I fin

[2020-05-28 14:20] sclassen commented on #648
what happens if you click "run"

[2020-05-28 14:23] sclassen commented on #440
The development of ITW 2.x is mainly driven by the project https://openwebstart.com
OWS is based on ITW and contributes back as much code as possible.

[2020-05-29 06:52] patris70 commented on #648
This is NOT error.
This is a Warning because your certificate has expired!

[2020-05-29 07:53] hendrikebbers commented on #622
Can you please have a look at the 2.0 branch. Currently we do not plan to back port fixes to 1.8 anymore. We plan to do a last 1.8 release in near future and than switch to 2.0

[2020-05-29 08:03] joakim-tjernlund commented on #622
I suspect 2.0 has new build changes so I would have work on that first. If you are on 2.0,
can you check what your RUN_ARGS_LOCATION is?

[2020-05-29 09:53] NetOps-spectrum commented on #648
Hi Team,

This issue is NOT happening with Oracle JRE, but happening with AdoptOpenJDK while launching/opening JNLP file.
When i click on "Yes" on above warning, it is displaying our login page without any issues.
We did not see any functionality issue, but worrying about Security risk/warning.

 We are signing our jars with certificate, which is valid from 12/23/17 8:00 AM to 3/23/29 7:59 AM]
 Pl

[2020-05-29 10:02] patris70 commented on #648
Which Oracle Java Version?
Did you delete Oracle Java Cache and startet JNLP?
As Info, Oracle Java give permission using Certificate import.

[2020-05-29 14:03] SubHuman1963 opened #649 "3rd party JNLP not running"
Hi all,
I'm moving from Java to OpenJDK (build 1.8.0_232-b09) in combination with Ice Tea Web (1.7.1). OpenJDK will be used to support Java based Webconsoles. Got 1 running without (all to many) problems, the other won't start. Get the splash screen, ice fills up, but nothing happens. See exception in the DOS box:

java.lang.VerifyError: Final superclass netscape/javascript/JSObject can't be exten

[2020-05-29 18:12] janakmulani commented on #645
Thanks for reporting this issue.

I could reproduce your issue. We will fix it in a future release.

[2020-05-30 18:16] NetOps-spectrum commented on #648
We are using Java Version 1.8(1.8.0_201)
Yes. deleted  Oracle Java Cache and started JNLP, issue not occurring with Oracle JRE

[2020-05-30 18:35] patris70 commented on #648
Delete all java user certificate store too.
Folder Path is:
c:\users\username\appdata\locallow\Sun\Java\Deployment\Security

[2020-05-30 19:54] sclassen commented on #648
@NetOps-spectrum
In you main jar you should have a MANIFEST.FM file.
Within this file you need to have the following line:
[code]
or
[code]
The line should match the security property in your JNLP file.

[2020-06-02 06:29] hendrikebbers commented on #649
Hi @SubHuman1963
can you try your application with ITW 1.8.x and send us the created log files. File logging can be activated in the settings of ITW.

[2020-06-02 07:24] vnashkev commented on #645
I have created pull request already :
[https://github.com/AdoptOpenJDK/IcedTea-Web/pull/646](url)

[2020-06-03 05:38] NetOps-spectrum commented on #648
i could  not see below path in my environment
c:\users\username\appdata\locallow\Sun\Java\Deployment\Security

[2020-06-03 05:40] NetOps-spectrum commented on #648
In my JNLP file, we have entry "all-permissions" like below
===============================
 <security>
    <all-permissions/>
  </security>
=======================

is this needs to be changed ?

[2020-06-03 05:41] NetOps-spectrum commented on #648
In my JNLP file, we have entry "all-permissions" like below
=======================
 <security>
    <all-permissions/>
  </security>
==================
is this needs to be changed ?

[2020-06-03 05:41] NetOps-spectrum commented on #648
In my JNLP file, we have entry "all-permissions" like below
=======================
 <security>
    <all-permissions/>
  </security>
==================
is this needs to be changed ?

[2020-06-03 05:42] NetOps-spectrum commented on #648
<all-permissions/> under  <security>

[2020-06-03 05:45] NetOps-spectrum commented on #648
` <all-permissions/>` under ` <security>`

[2020-06-03 05:45] NetOps-spectrum commented on #648
=========================
`<security>
    <all-permissions/>
  </security>`
==========================

[2020-06-03 06:10] sclassen commented on #648
No, it just means that you need to have the following line in the MANIFEST.FM of your main jar:
[code]

[2020-06-03 06:11] sclassen commented on #648
sorry accidentally closed this

[2020-06-03 06:13] patris70 commented on #648
Open Main JAR File with 7zip, copy here MANIFEST.FM.

[2020-06-03 07:40] SubHuman1963 commented on #649
Hi Hendrik,
Thanks for your reply!
I reverted to 1.7.1 because I encountered the following error while starting a jnlp file in IE:
net.sourceforge.jnlp.LaunchException: Fatal: Launch Error: Could not launch JNLP file. The application has not been initialized, for more information execute javaws/browser from the command line and send a bug report.
Also in IE an IFramed applet does not show.

So I s

[2020-06-03 09:39] NetOps-spectrum commented on #648
Hi Team,

I am pasting MANIFEST.MF content here from main jar file
=========================
Manifest-Version: 1.0
Ant-Version: Apache Ant 1.9.4
Permissions: all-permissions
Codebase: *
Spectrum-Version:
Created-By: 1.8.0_212-b04 ()

Name: com/aprisma/spectrum/app/console/client/ConsoleApp$1.class
SHA-256-Digest: SaIftccB+MGbExu6/dVMzAfJxUNmUhqOD3dRE/ssECE=

Name: com/aprisma/spectrum/app/console/

[2020-06-03 09:48] NetOps-spectrum commented on #648
Can we have web-ex, so that i can show issue and "Permissions" settings
Please note that, this is **not** happening for oracle Jre

[2020-06-03 10:03] SubHuman1963 commented on #649
Sorry, wrong button...

Uploading the 1.7.1 logfiles.
Starting with 'chrome-mcitw171-': fail, itw is starting but the jnlp never shows
Starting with '*-vpmlauncher-itw171' actually work (apparently fine)

[2020-06-03 11:37] pkeusem commented on #629
I responded to this via email on May 8, but that apparently did not make it here.

What is the proxy?
Where can I find it on [https://openwebstart.com]?
How is the proxy related to locating the Firefox preferences file?

[2020-06-03 12:12] sclassen commented on #629
Sorry I guess my response was a little short.
OpenWebStart re-implemented the section of ITW which reads the proxy settings.
This new implementation supports more options (some OS specific) to read proxy settings.

OpenWebStart is an application based on ITW and offers some additional features on top.

[2020-06-03 12:29] pkeusem commented on #629
OK, so is this OpenWebStart 1.1.7 you are talking about?

[2020-06-03 12:30] sclassen commented on #629
yes

[2020-06-03 12:33] pkeusem commented on #629
OK, thanks.

[2020-06-04 05:42] NetOps-spectrum commented on #648
Hi Support Team,

Please let us know your available IST time for web-ex.

Thanks
Channa

[2020-06-04 06:10] patris70 commented on #648
Wildcard "*" value for Codebase is Problem.
You wrote, user has not java user certificate store (oracle), are you sure???

[2020-06-04 06:22] netopyr commented on #648
Hi Channa,

unfortunately we do not offer individual free support. You can find our support options on the OpenWebStart-page: https://openwebstart.com/support/#paid-support-packages.

[2020-06-04 09:49] NetOps-spectrum commented on #648
Yes Team,

I don't have folder "Sun\Java\Deployment\Security" under c:\users\username\appdata\locallow\
I have only one folder "Microsoft" under c:\users\username\appdata\locallow\

If wildcard "*" is an issue, but it is working fine with Oracle, in my system has Oracle JRE(1.8.0_201)

We have official support licence, user name is "NetOps-spectrum"

Thanks
Channa

[2020-06-04 10:09] patris70 commented on #648
maybe you activated Roaming Profile option under Java Control Panel, check this Folder:
c:\users\username\appdata\roaming\Sun\Java\Deployment\Security
![roaming](https://user-images.githubusercontent.com/39562080/83744190-0d62c400-a65c-11ea-94c8-656b0f257c44.jpg)

Because **Oracle** Java **always** create User Java Folder (in roaming or locallow) for deployment.properties File, Certificate Store,

[2020-06-04 10:24] NetOps-spectrum commented on #648
![JRE_Options](https://user-images.githubusercontent.com/58945429/83745794-b7057d80-a67b-11ea-80da-34496377b098.jpg)

[2020-06-04 10:28] NetOps-spectrum commented on #648
Could you please see my Java settings  above where Oracle JRE is using

[2020-06-04 10:32] patris70 commented on #648
search this file in C:\ ==> deployment.properties and find folder

How can i check/see/access your Computer?

[2020-06-04 11:01] NetOps-spectrum commented on #648
Hi Team,

Below the  deployment.properties content where Oracle JRE exists
=====================================================
#deployment.properties
#Thu Jun 04 17:46:25 SGT 2020
deployment.expiration.decision.11.201.2=later
deployment.javaws.splash.index=C\:\\Users\\Administrator\\AppData\\LocalLow\\Sun\\Java\\Deployment\\cache\\6.0\\splash\\splash.xml
deployment.version=8
deployment.javaws.ap

[2020-06-04 11:09] patris70 commented on #648
i have not Webex :(

Please delete **Sun** Folder in Path **C:\Users\Administrator\AppData\LocalLow\** and test with Oracle Java again, i am 99% sure, you see Warning with Oracle Java :)

[2020-06-04 11:11] sclassen commented on #648
@NetOps-spectrum
If you already have a support contract, then please contact us on the forum or the mail to setup a call.
We cannot link github accounts to our sponsors

https://board.karakun.com
openwebstart@karakun.com

[2020-06-04 11:39] patris70 commented on #392
Hi,
any news or update?
If yes, can you please upload toolchains in github as Dev-Tools?
regards

[2020-06-04 12:06] NetOps-spectrum commented on #648
![Sun_Folder_Delete](https://user-images.githubusercontent.com/58945429/83754500-aeb43f00-a689-11ea-9a0d-51be2f5b7275.jpg)

I have renamed Sun folder to Sun_bk, but it got created again when i launch JNLP and i did not get warning/error

[2020-06-04 13:39] patris70 commented on #648
Have you teamviewer?

[2020-06-04 14:07] NetOps-spectrum commented on #648
Not currently, I have Cisco Web-Ex, is this fine ?

[2020-06-04 14:12] patris70 commented on #648
How can i use Webex?
Need account or can start for free?
If free, can i install.

[2020-06-04 14:21] patris70 commented on #648
I installed Webex extension in Firefox, how can you share Desktop?

[2020-06-04 17:44] sclassen commented on #648
@NetOps-spectrum
Be advised that patris70 is an active member of the community but not a member of the Karakun support team.
If you have a paid support then please contact the support team by mail or in the forum

[2020-06-05 06:14] SubHuman1963 commented on #649
[IE-vpmLauncher-itw171-javantx-2020-06-03_10_27_33.854.log](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4734241/IE-vpmLauncher-itw171-javantx-2020-06-03_10_27_33.854.log)
[IE-vpmLauncher-itw171-javantx-2020-06-03_10_30_03.946.log](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4734242/IE-vpmLauncher-itw171-javantx-2020-06-03_10_30_03.946.log)
[chrome-mc-itw171-clienta-2020-06-03_10_21_59.

[2020-06-05 06:28] hendrikebbers commented on #649
@SubHuman1963 let's concentrate on the issues that you have with 1.8.x

Issue a: `java.lang.VerifyError: Final superclass netscape/javascript/JSObject can't be extended`
Issue b: `java.lang.NoClassDefFoundError: bluecoat.sgos.ui.MCInterface`

- What is the difference between issue a and issue b? Did you just started the same application in the same way 2 times after each other or have you done som

[2020-06-05 06:31] hendrikebbers commented on #392
see https://github.com/AdoptOpenJDK/IcedTea-Web/pull/520

[2020-06-05 06:34] hendrikebbers commented on #629
The new Proxy in OpenWebStart will support absolute path in Firefox with the next release. See https://github.com/karakun/OpenWebStart/pull/275

[2020-06-05 08:14] #629 closed

[2020-06-05 08:47] NetOps-spectrum commented on #648
Thanks for the information. We have the paid support.

[2020-06-05 09:11] sclassen commented on #645
fixed with #646 and #651

[2020-06-05 09:11] #645 closed

[2020-06-05 10:26] FelixJongleur42 opened #654 "JNLPFileFactory runs into NullPointerException after proxy settings where wrong"
see https://github.com/karakun/OpenWebStart/issues/226

to sum up:

1. first jnlp download fails due to wrong proxy settings
2. correct proxy settings
3. second jnlp download will fail with NPE in JNLPFileFactory

note that browser is able to download JNLP file

[2020-06-05 11:10] hendrikebbers commented on #654
closed since this is duplicate to karakun/OpenWebStart#226

[2020-06-05 11:10] #654 closed

[2020-06-05 11:47] LydiaLME opened #655 "Unable to open *.jnlp files with IcedTea Web"
* **Platform and architecture (e.g. Linux/x64**:

* **Java version (from "java --version") e.g. 1.8.0_181, 11.0.4+11 etc.**:

* **Variant e.g. HotSpot or OpenJ9**:

* **Have you tested it with other vendors' java**:

* **Steps to reproduce**:

* **Error messsage and/or description of what is not working as expected**:

[2020-06-05 12:02] hendrikebbers commented on #655
Hi @LydiaLME can you add some additional description about the behaviour when starting a JNLP file?

[2020-06-05 12:05] LydiaLME commented on #655
We are looking for an alternative to Oracle Java Web start and have installed AdoptJDK JDK 8 Hotspot on Windows 10 64-bit VMWare Virtual platform.

When testing running *.jnlp file using: http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/JavaTest/index.html?windows

We are seeing errors and the test is failing see JavaConsoleError.log below.  Do we need to configure the Java Console? If so, how?
[JavaCo

[2020-06-05 13:53] hendrikebbers commented on #655
I just tried it (on my Mac) and was able to start the test application:

<img width="746" alt="cacd" src="https://user-images.githubusercontent.com/9443847/83884069-a4a34680-a744-11ea-9cc4-feb0d74b5edf.png">

[2020-06-05 14:04] hendrikebbers commented on #655
@LydiaLME what version off IcedTeaWeb are you using?

[2020-06-08 07:47] SubHuman1963 commented on #649
Hi Hendrik,
Issues a and b differ,
issue a is launching a standalone jnlp file (vpmlauncher.jnlp) from within a html page
issue b is framing a different jnlp file (mc.jnlp) in a html page

Not using a proxy, nor a PAC file. All resources are local.

There is .js in the page

All classes used in the application are found in the jars

Furthermore, I gave OpenWebStart a try after deinstalling ITW1.7.

[2020-06-08 08:19] LydiaLME commented on #655
Hi Hendrik

When running a test from this site: http://www.jgoodies.com/download/jdiskreport/jdiskreport.jnlp I am seeing the following error:

[cid:image001.png@01D63D75.EAFB1600]

Lydia

From: Hendrik Ebbers <notifications@github.com>
Sent: 05 June 2020 14:53
To: AdoptOpenJDK/IcedTea-Web <IcedTea-Web@noreply.github.com>
Cc: Lydia Pierre <Lydia.Pierre@lme.com>; Mention <mention@noreply.github.com

[2020-06-08 08:20] hendrikebbers commented on #655
@LydiaLME looks like your image is not attached.

[2020-06-08 19:54] hostafrica opened #657 "Could not parse or read the JNPL file"
Hi Team,
we regularly hitting the same error when connecting via IcedTea trough the Proxy to IPMI console on our dedicated servers. We have problems to replicate the issue. For some servers all is fine for some not.
![image](https://user-images.githubusercontent.com/44834090/84074228-82bef380-a9d2-11ea-8ea5-704919d7160a.png)

Are you able to help on this?

Regards
M.

[2020-06-08 20:45] sclassen commented on #657
Which version of ITW are you using?

[2020-06-09 10:09] hostafrica commented on #657
Its Version 1.8

[2020-06-10 06:08] patris70 commented on #657
Hi,
have you configured SSL intercept in proxy?
If yes, disable SSL intercept for your link/URL.

regards

[2020-06-10 08:59] LydiaLME commented on #655
Hi Hendrik

I have found by editing the "C:\Windows\Sun\Java\Deployment\deployment.properties" file we are now able to open some *.jnlp files

However, from http://www.jgoodies.com/download/jdiskreport/jdiskreport.jnlp site , but I am still seeing the following error:

net.sourceforge.jnlp.LaunchException: Fatal: Initialization Error: Could not initialize application. The application has not been

[2020-06-12 07:30] sclassen commented on #622
We changed this in the 2.0 branch. The args are now in the Java code an no longer in a file

[2020-06-12 09:03] sclassen commented on #655
@LydiaLME from the log it looks like this is some network issue, likely related to the proxy settings.

Can you check out https://openwebstart.com
It is based on ITW 2.x branch but brings some additional features with it. One of this is an improved proxy handling.

[2020-06-12 09:11] sclassen commented on #649
The exception you see is caused by a connection timeout.
OWS is trying to download a suitable JVM to run the application. In order to do so it connects to https://download-openwebstart.com/jvms which then ends in a connection timeout.

Do you need to configure some proxy settings to connect to the internet?

If you cannot connect to the internet you can open the settings UI and add a localy instal

[2020-06-12 12:17] SubHuman1963 commented on #649
Hi sclassen,
Thnx, I wasn't aware of that... Whitelisted download.openwebstart.com in our proxy. I did download a JVM (download-openwebstart.com/Azul/zulu11.37.17-ca-jdk11.0.6-win_x64.zip) but crashed all the same. I'll append the logs.

Furthermore, I tried to add a local JVM from my AdoptOpenJDK installation directory, but I was unable to do so, as the browse dialog didn't show the jvm.dll (pict

[2020-06-12 14:10] sclassen commented on #649
if you want to add a JVM manually you should select the parent folder of the JVM.

The error in your log is class not found: `javafx.embed.swing.JFXPanel`
Is your application a JavaFX one? if so you need to be aware that not all the JVMs include JavaFX

[2020-06-19 07:34] sclassen commented on #649
May be related to https://github.com/karakun/OpenWebStart/issues/125

[2020-06-19 08:04] bnd001 commented on #609
I am having the same issue with IceedTea version 1.8.
Can somebody please help with this

[2020-06-23 05:45] NetOps-spectrum commented on #648
Hi Support team,

Any thing you want verify in our environment, I can provide you details/screenshot, our customer is waiting for the solution. Could you please consider this is an high priority.

Thanks
Channa

[2020-06-23 06:10] sclassen commented on #648
@NetOps-spectrum
If you already have a support contract, then please contact us on the forum or the mail to setup a call.
We cannot link github accounts to our sponsors

https://board.karakun.com
openwebstart@karakun.com

[2020-06-26 07:15] #648 closed

[2020-06-29 06:12] GKNEKKANTI opened #662 "icedtea-web 1.8.3 is this supporting jdk11?"
as per migration guide given in adoptopenjdk page  https://adoptopenjdk.net/migration.html?variant=openjdk11&jvmVariant=openj9
icedtea-web is not supported for jdk11.

Please confirm whether the icedtea-web 1.8.3 supports jdk 11 officially or not.
Thank you so much.

[2020-06-29 12:01] sclassen commented on #662
There is some code in place but I guess we cannot say it is "officially" supported.
So go ahead and give it a try.

Also have a look at openwebstart.com it adds additional support for Java11 on top of ITW

[2020-07-01 17:34] anuraagrijal3138 opened #664 "javaws command brings yellow screen"
I am trying to use javaws to access console of a supermicro server. This one does not have iKVM/HTML5 feature so I will have to use jnlp file.

I installed javaws using

apt install icedtea-netx
And after the command :

javaws launch.jnlp
I get the following yellow screen. I have tried in ubuntu-18.04 and ubuntu 20.04 with same results.

The server I am using to run javaws command is hosted as doc

[2020-07-02 10:20] sclassen commented on #664
can you give openwebstart.com a shot.
It is based on the not yet released 2.x branch of ITW

[2020-07-02 10:59] rchandrabrcm opened #666 "Open JDK WebStart showing - Wrong Publisher(EMC) and Expired security certificates"
Platform : Windows

OpenJDK  Version : 1.8.0.242.08 (OpenJDK8U-jre_x64_windows_hotspot_8u242b08)

Tested with Oracle Jre (1.8.0_X), here there is no issue

* **Steps to reproduce**:
- Install OpenJDK and Webstart part of 1.8.0.242.08
- Launch .jnlp file
- Showing Wrong Publisher(EMC) and Expired security certificates

* **Error messsage and/or description of what is not working as expected**:

**W

[2020-07-02 12:12] sclassen commented on #666
Could you share the JNLP file. This helps understanding why the publisher is different.

For the Certificate we can do very little.
ITW only uses the certificates provided (by the JVM and the local trust store)
It does not handle any certificates itself

[2020-07-02 12:37] neelambatra opened #667 "Not able to run jnlp file using Java 11"
I am trying to launch JNLP file using openwebstart. I have configured the java version as 11.0* in my JNLP file so that openwebstart downloads 11.* JVM version. I can see that "11.0.7 Azul Systems"  got downloaded in the JVM Manager but the launching of the application fails. When I checked the logs it says as below:

[MESSAGE_DEBUG][Thu Jul 02 05:26:56 PDT 2020] Exiting Boot.mainWithReturnCode()

[2020-07-02 12:44] rchandrabrcm commented on #666
Thanks for the update.
Oracle JRE taking correct certificates, but not openJDK, i am not sure, is any settings required explicitly.

Here is the my JNLP content.
[oneclick _OC_JNLP.txt](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4864260/oneclick._OC_JNLP.txt)

[2020-07-02 13:27] sclassen commented on #667
Ther is a second log file which was created just about the same time.
It contains further details. Can you please post this also. thx

[2020-07-02 13:31] sclassen commented on #666
Interesting. The JNLP does not contain any of the strings which are visible in the first screen shot.
Are there any other applications launched?

[2020-07-02 13:36] rchandrabrcm commented on #666
No, only we have one application which need to launch using .JNLP file

[2020-07-02 16:01] vladimir-kokovic opened #668 "javaws about Exception"
How is it possible for 'javaws about' to generate Exception?
[owsabout.log](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4865419/owsabout.log)

[2020-07-02 16:09] neelambatra commented on #667
No I don't see any other log file at the same time. Do I need to enable any logging somewhere. As of now I have checked all the boxes available under logging.

Thanks

[2020-07-02 17:41] MasterGroosha opened #669 "Problem launching SuperMicro IPMI remote console"
Hello, I'm having a strange problem with Supermicro IPMI remote console.
I'm going to some IP addr, for example http://1.2.3.4, which is SuperMicro IPMI Web interface.
Then I go to Remote Console section and launch Remote Console, which loads IcedTea plugin.
However upon launch I'm getting this error:
![изображение](https://user-images.githubusercontent.com/2780044/86392249-ccce8880-bca3-11ea-9a5b

[2020-07-03 05:17] neelambatra commented on #667
Got the attached log file created after some time. Please check.

Thanks
[itw-javantx-2020-07-02_09_08_14.64.log](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4867858/itw-javantx-2020-07-02_09_08_14.64.log)

[2020-07-03 08:05] hendrikebbers commented on #662
https://github.com/AdoptOpenJDK/openjdk-website/issues/734

[2020-07-03 08:09] hendrikebbers commented on #667
The attached log is based on opening the settings of OWS. Can you clear the log folder and restart the application. That should create log files.

[2020-07-03 08:56] sclassen commented on #669
This looks like the CA certificate is not in the trust store.
Can you provide us with log files. It should tell which certificate exactly is missing.

[2020-07-03 10:17] janakmulani commented on #668
What info are you looking for by passing the "about" parameter?

From the log it appears that ITW is trying to bring up AboutDialog and failing. Perhaps this is not supported or has a bug as it is resulting in NPE.

For IcedTeaWeb you could try itweb-settings.sh > About IcedTea-Web > About

You can try OpenWebStart itw.settings > About OpenwebStart.

You can also try javaws -console to see the mes

[2020-07-03 10:22] MasterGroosha commented on #669
@sclassen the problem is I'm not really sure which certificate I should add to keystore.

Here are the logs:
1) https://pastebin.com/dgrUqhBh
2) https://pastebin.com/D6iX4g0K
3) https://pastebin.com/E8L4BsR9

[2020-07-03 11:22] neelambatra commented on #667
As suggested above, I have deleted all the logs from log directory and re-launched jnlp with 11.0* Java version. I have attached the logs which I got.

Thanks
[itw-javantx-2020-07-03_04_07_54.654.log](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4869387/itw-javantx-2020-07-03_04_07_54.654.log)
[itw-javantx-2020-07-03_04_04_46.285.log](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4869389/

[2020-07-03 12:49] vladimir-kokovic commented on #668
I don't know how to apologize to the people from "AdoptOpenJDK IcedTea-Web" for asking the question because in it, it was checked that 'javaws -about' works correctly.
My problem was that I tried a 'javaws -about' from 'OpenWebStart' javaws, in which it doesn't work without me being aware that there are 2 javaws scripts.

[2020-07-03 14:36] sclassen commented on #668
Do not worry, OpenWebStart and icedtea-web are maintaind by the same people.
And yes OpenWebStart targets more GUI and less the console

[2020-07-03 14:36] #668 closed

[2020-07-03 18:09] rchandrabrcm commented on #666
Any help on this please ....

[2020-07-03 18:57] sclassen commented on #666
Can you please post the log files from running the app with ITW

[2020-07-03 20:12] sclassen commented on #669
While looking at the log files I noticed a stacktrace which contains the following class: `com.ami.kvm.jviewer.JViewer`
This is a class from the client application. Since the client application is only executed once all dependencies are downloaded I suspect that the message you see is not coming from icedtea-web.

A full text search in the code could not find the message from your screenshot.

As

[2020-07-03 20:25] sclassen commented on #667
The attached logs are still not helpful:
the file `itw-javantx-2020-07-03_04_07_54.654.log` is another log of the startup phase of OWS.
the file `itw-javantx-2020-07-03_04_04_46.285.log` is a log from opening the settings and deleting 2 azul JVMs

When OWS is launched its is doing this in 2 phases.
First we have a startup phase (or phase 1) where it determines which JVM to use for launching the ap

[2020-07-03 22:07] MasterGroosha commented on #669
Thank you very much! Now I see this is not an IcedTea bug.

[2020-07-03 22:07] #669 closed

[2020-07-04 07:02] neelambatra commented on #667
Ok, I have tried again, without opening the settings but I can see only one log file getting created, attaching the same.
[itw-javantx-2020-07-03_23_52_44.765.log](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4872223/itw-javantx-2020-07-03_23_52_44.765.log)

Is it possible to have a call to see what's going wrong and why the 2nd log file is not getting generated.

[2020-07-04 09:05] sclassen commented on #667
We offer calls only for our payed support customers.
Youfind details for the payed support on https://openwebstart.com

I will look into the log one more time but so far there are no obvious errors in there

[2020-07-06 05:34] rchandrabrcm commented on #666
I am sorry, what is ITW  ?
Can you please help, how to run/launch application(.JNLP) using  ITW ?
Could you Please help

[2020-07-06 05:51] neelambatra commented on #667
Hello,

We don't have paid support but I am really looking forward for some help in resolving this issue.

Regards

[2020-07-06 06:42] hendrikebbers commented on #667
I close this issue and create a new one in the OpenWebStart repository since the topic is related to OpenWebStart. See https://github.com/karakun/OpenWebStart/issues/287

[2020-07-06 06:42] #667 closed

[2020-07-06 17:17] rchandrabrcm commented on #666
Any update please ....

[2020-07-06 19:55] sclassen commented on #666
ITW is the short form for icedtea-web.
If you open the settings you can enable logging to file and debug logs.
Also in that view you see where log files are located on your file system

Please create a set of log files by enabling the above options and then launch your application

[2020-07-07 10:27] rchandrabrcm commented on #666
Thanks for the update.

When I tried to launch icedtea-web, it is directly opening, i could not see any settings.

Could you please provide screenshot and steps, how to enable debug and collect logs.

Thanks
Channa

[2020-07-07 10:48] sclassen commented on #666
there is a separate executable in the same folder as the javaws executable. You need to start this to open the settings

[2020-07-08 07:49] rchandrabrcm commented on #666
Thank you.

I have enabled the the debug,  below the screenshot of icedtea-web console
![image](https://user-images.githubusercontent.com/67726756/86891563-aa61c280-c11c-11ea-95e3-d773d48bbdff.png)

Please find the log files below from path (C:\Users\Administrator\.config\icedtea-web)
[log.zip](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4889192/log.zip)

Please review and help.

Regards
Cha

[2020-07-08 07:50] rchandrabrcm commented on #666
Please let me know if you need any information

[2020-07-08 09:12] rchandrabrcm commented on #666
icedtea-web console debug

[openJDKWeb_Debug_Console.txt](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4889718/openJDKWeb_Debug_Console.txt)

[2020-07-08 09:30] hendrikebbers commented on #666
I had a quick look in the log.
I do not think that your problem is based on it but the following line in your JNLP looks wrong:
`<j2se version="1.8.0_232" java-vm-args="--add-modules=java.se.ee" href="http://java.sun.com/products/autodl/j2se" initial-heap-size="96m" max-heap-size="1024m"></j2se>`

You are using Java 8 but defining `--add-modules=java.se.ee` that is only available in Java 9+. You s

[2020-07-08 09:33] hendrikebbers commented on #666
I found a ClassNotFound Exception:
`java.lang.ClassNotFoundException: com.aprisma.spectrum.app.alarm.client.render.LinkDownInterfaceListRendererCustomizer`

Can you please doublecheck that the class in part of the JARs.

[2020-07-08 09:36] hendrikebbers commented on #666
mmmh, IcedTeaWeb tries to download this classes directly from your server:
`Selecting proxy for: http://10.17.153.216/spectrum/com/aprisma/spectrum/app/alarm/client/render/LinkDownInterfaceListRendererCustomizer.class`

[2020-07-08 09:38] hendrikebbers commented on #666
I do not assume that `<property name="javaws.cfg.jauthenticator" value="true"></property>` is supported by IcedTeaWeb.

[2020-07-08 09:40] hendrikebbers commented on #666
Can you explain what the` ;no_javaws_cheat` suffix does?

[2020-07-08 09:55] hendrikebbers commented on #666
Are you an user of the JNLP application or are you the developer?

[2020-07-08 10:53] rchandrabrcm commented on #666
Thanks for update.

Please note that, same JNLP file is working fine with Oracle Jre (1.8.0_X)

Here issue is, Why it is showing Publisher as "EMC Corporation" and showing expired certificates.

Do we need to change anything and test it ? please help

Thanks
Channa

[2020-07-08 11:15] sclassen commented on #666
regarding the certs:
[code]

[2020-07-08 11:18] sclassen commented on #666
concerning the tile:
`EMC Corporation` cannot be found in any log.
Can you check the main jar `clientconsole.jar` and see if its MANIFEST.FM contains this string

[2020-07-08 12:15] rchandrabrcm commented on #666
Below the my MANIFEST.MF file content
==========================
Manifest-Version: 1.0
Ant-Version: Apache Ant 1.9.4
Permissions: all-permissions
Codebase: *
Spectrum-Version: 10.4.1.0.215
Created-By: 1.8.0_232-b09 ()

Name: com/aprisma/spectrum/app/console/client/ConsoleApp$1.class
SHA-256-Digest: SaIftccB+MGbExu6/dVMzAfJxUNmUhqOD3dRE/ssECE=

Name: com/aprisma/spectrum/app/console/client/package_

[2020-07-08 12:38] rchandrabrcm commented on #666
In our case, showing expired certificates. Could you please see the provided screenshots  previously .

[2020-07-09 05:19] rchandrabrcm commented on #666
I could not get, why publisher showing "EMC Corporation" and showing expired certificates, but this is not the case of Oracle JRE
do we need to any setting/changes in ..JNLP file ? Could you please help...

[2020-07-10 07:26] janakmulani commented on #666
Can you please try your application with [OpenWebStart](https://github.com/karakun/OpenWebStart)?

[2020-07-10 07:30] hendrikebbers commented on #662
PR https://github.com/AdoptOpenJDK/openjdk-website/pull/745

[2020-07-13 14:20] rchandrabrcm commented on #666
I have tested on OpenWebStart as well,  but getting same issue. Could you please suggest next steps.

[2020-07-14 06:58] hendrikebbers commented on #666
@rchandrabrcm this looks like a general bug in ITW. To be true I do not have a good idea how to start finding this bug without reproducing the error. Is it possible to create a small JNLP based application that reproduces the behaviour?

[2020-07-14 09:08] amir-reza85 opened #673 "ContestAppletProd.jnlp"
When i click on it and click open with javaws.exe installed from icedtea-web 1.8.3 and in directory
C:\Program Files\IcedTeaWeb\WebStart\bin\javaws.exe
It dont run without any errors
in windows 10
the same in ubuntu works.

I dont know the reason

[2020-07-14 09:16] amir-reza85 commented on #673
Dont work with 1.8.2 :(

[2020-07-14 09:51] rchandrabrcm commented on #666
As Hendrik suggested, I have removed below 2 lines in JNLP file, but still getting same error.
============
<property name="javaws.cfg.jauthenticator" value="true" />

    <j2se version="1.8.0_232" java-vm-args="--add-modules=java.se.ee" href="http://java.sun.com/products/autodl/j2se"
          initial-heap-size="96m" max-heap-size="1024m"/>
============

[2020-07-14 09:52] rchandrabrcm commented on #666
As Hendrik suggested, I have removed below 2 lines in JNLP file, but still getting same error.
============================
<property name="javaws.cfg.jauthenticator" value="true" />
<j2se version="1.8.0_232" java-vm-args="--add-modules=java.se.ee" href="http://java.sun.com/products/autodl/j2se"
      initial-heap-size="96m" max-heap-size="1024m"/>
==========================

[2020-07-14 09:53] rchandrabrcm commented on #666
As Hendrik suggested, I have removed below 2 lines in JNLP file, but still getting same error.

<property name="javaws.cfg.jauthenticator" value="true" />
<j2se version="1.8.0_232" java-vm-args="--add-modules=java.se.ee" href="http://java.sun.com/products/autodl/j2se"
          initial-heap-size="96m" max-heap-size="1024m"/>

[2020-07-14 09:54] rchandrabrcm commented on #666
<property name="javaws.cfg.jauthenticator" value="true" />
    <j2se version="1.8.0_232" java-vm-args="--add-modules=java.se.ee" href="http://java.sun.com/products/autodl/j2se"
          initial-heap-size="96m" max-heap-size="1024m"/>

[2020-07-14 10:32] amir-reza85 commented on #673
OK
I correct it thanks

[2020-07-14 10:32] #673 closed

[2020-07-15 06:03] hendrikebbers commented on #666
I assumed that this won't help with your concrete problems but I would remove this lines anyway since they are just wrong.  Based on the given information I do not know how we can help you since we are not able to reproduce this issue. Is the application available online so that we can check the JNLP app?

[2020-07-15 08:20] septpadm commented on #318
icedtea-web-1.8.4 isn't working either :-(

The icedtea-web-1.8.0 version is working fine, newer versions are not.

[2020-07-15 08:25] hendrikebbers commented on #318
Is a JNLP app available online to check the behaviour?

[2020-07-15 08:28] septpadm commented on #318
Yes, I can run it from my company PC.

From: Hendrik Ebbers <notifications@github.com>
Sent: den 15 juli 2020 10:26
To: AdoptOpenJDK/IcedTea-Web <IcedTea-Web@noreply.github.com>
Cc: Michael Ekdal <Michael.Ekdal@perstorp.com>; Comment <comment@noreply.github.com>
Subject: Re: [AdoptOpenJDK/IcedTea-Web] ITWebstart fails with SAP PI Tools (#318)

This message was sent from outside Perstorp Group. Do

[2020-07-15 08:37] septpadm commented on #318
Well, not online but I can share my screen in a meeting.

From: Hendrik Ebbers <notifications@github.com>
Sent: den 15 juli 2020 10:26
To: AdoptOpenJDK/IcedTea-Web <IcedTea-Web@noreply.github.com>
Cc: Michael Ekdal <Michael.Ekdal@perstorp.com>; Comment <comment@noreply.github.com>
Subject: Re: [AdoptOpenJDK/IcedTea-Web] ITWebstart fails with SAP PI Tools (#318)

This message was sent from outside

[2020-07-16 11:13] rchandrabrcm opened #676 "Getting error while trying to launch using IcedTea Web"
Adopt Open JDK : OpenJDK8U-jre_x64_windows_hotspot_8u232b09

![image](https://user-images.githubusercontent.com/67726756/87664696-517cd480-c783-11ea-9914-db0484847248.png)

[2020-07-16 11:14] rchandrabrcm commented on #676
Found missing the 'permissions' attribute in the Iced-web log as below
======================================
Decided action for missing permissions at http://10.17.153.216/spectrum/ was YES
Your Extended applets security is at 'high' and this application is missing the 'permissions' attribute in manifest. And you have allowed to run it.
Found alaca URLs to be verified
 - http://10.17.153.216/spec

[2020-07-16 11:19] rchandrabrcm commented on #676
JNLP File
=======

[oneclick _OC_JNLP.txt](https://github.com/AdoptOpenJDK/IcedTea-Web/files/4931125/oneclick._OC_JNLP.txt)

[2020-07-16 11:37] rchandrabrcm commented on #676
We have below entry in main jar and corresponding tags in JNLP file
MANIFEST.MF
==
Permissions: all-permissions
==
.JNLP file
=============
  <security>
    <all-permissions/>
  </security>
==============

Do we need entry in all *.jars or only main jar ?
if required for all jars, how to identify which jar is missng permissions attribute.

Please help

[2020-07-16 12:10] rchandrabrcm commented on #676
In my JNLP file, we have entry "all-permissions" like below

 <security>
    <all-permissions/>
</security>

[2020-07-16 17:31] rchandrabrcm commented on #666
There is one observation

We have 2 products OC and SOI
Tried to launch both from same java version i.e OpenJDK Version : 1.8.0.232.08 (OpenJDK8U-jre_x64_windows_hotspot_8u232b09)
But this issue (Wrong Publisher and expired certificates)  exists for OC, but not for SOI

SOI JNLP file below (Working Product)
=============================
[SOI_JNLP.txt](https://github.com/AdoptOpenJDK/IcedTea-Web/fi

[2020-07-17 07:45] hendrikebbers commented on #666
Since this is not working with ITW and OpenWebStart I would like to open an additional issue in OpenWebStart and link both. By doing the members of both communities can help you. @rchandrabrcm can you please open an additional issue at [OWS](https://github.com/karakun/OpenWebStart/issues). I will take care of linking both issues and getting more people on it :)

[2020-07-17 07:52] hendrikebbers commented on #318
Can you check the [2.0.0-alpha14](https://github.com/AdoptOpenJDK/IcedTea-Web/releases/tag/icedtea-web-2.0.0-alpha14) tag?

[2020-07-20 12:42] septpadm commented on #318
No, couldn’t make it work.

I’m not familiar with ./configure, make and that stuff but I tried to make it work in bash started from my Win10 but never got longer than ./configure missing ☹.
I imported into my Eclipse and most of the .java files compiled.

But the file structure wasn’t at all like 1.8.4 and the rest. A lot of files and folders were missing.
Usually I download a zip file intended fo

[2020-07-21 09:02] rchandrabrcm commented on #676
Do we need entry "Permissions: all-permissions"  in all *.jars or only main jar only?
if required for all jars, how to identify which jar is missing permissions attribute.

Please help

[2020-07-21 09:20] hendrikebbers commented on #676
@rchandrabrcm can you maybe contact me by mail. Maybe we can do a call.

[2020-07-22 11:16] hendrikebbers commented on #318
the master branch (and all 2.x releases) are based on maven as build tool. are you familiar with maven?

[2020-07-22 11:39] septpadm commented on #318
Nope

From: Hendrik Ebbers <notifications@github.com>
Sent: den 22 juli 2020 13:16
To: AdoptOpenJDK/IcedTea-Web <IcedTea-Web@noreply.github.com>
Cc: Michael Ekdal <Michael.Ekdal@perstorp.com>; Comment <comment@noreply.github.com>
Subject: Re: [AdoptOpenJDK/IcedTea-Web] ITWebstart fails with SAP PI Tools (#318)

This message was sent from outside Perstorp Group. Do not click on links or open attach

[2020-07-24 05:35] 49studebaker opened #677 "The "icedtea-netx" package does not include the Firefox "IcedTeaPlugin.so" plugin."
The "icedtea-netx" package does not include the Firefox "IcedTeaPlugin.so" plugin.

[2020-07-24 07:46] janakmulani commented on #677
Which version IcedTeaWeb are you using?

New versions of IcedTeaWeb do not support Applets in browsers.

[2020-07-24 07:50] hendrikebbers commented on #318
Ok, maybe you can test https://github.com/karakun/OpenWebStart ? It depends on the new IcedTeaWeb version. By testing with OWS we know if the issue is still present.

[2020-07-24 10:51] septpadm commented on #318
https://github.com/karakun/OpenWebStart<https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fkarakun%2FOpenWebStart&data=02%7C01%7Cmichael.ekdal%40perstorp.com%7Cf4fea9e4772145d6ccdf08d82fa64f1f%7Cff093d1f75de49f6b91b8bf6945505af%7C0%7C0%7C637311738635097843&sdata=wK%2FFFOqXUrhgsy6bGGc5ivhooTT3VPeWD%2FHgDZuHJAY%3D&reserved=0> seems to work better but not completely.

The

[2020-07-24 11:20] sclassen commented on #318
See https://github.com/karakun/OpenWebStart/blob/master/documentation/guide/OWSGuide.adoc#logging for how to enable logging

[2020-07-24 11:34] septpadm commented on #318
Here are the logs.

From: sclassen <notifications@github.com>
Sent: den 24 juli 2020 13:21
To: AdoptOpenJDK/IcedTea-Web <IcedTea-Web@noreply.github.com>
Cc: Michael Ekdal <Michael.Ekdal@perstorp.com>; Comment <comment@noreply.github.com>
Subject: Re: [AdoptOpenJDK/IcedTea-Web] ITWebstart fails with SAP PI Tools (#318)

This message was sent from outside Perstorp Group. Do not click on links or ope

[2020-07-24 20:24] 49studebaker commented on #677
I am using the version 1.7.2-2 (stable).
OS: Debian 10

[2020-07-27 09:36] hendrikebbers commented on #318
@septpadm can you please add the message directly in GitHub. You attachment is not added to the message

[2020-07-31 07:37] hendrikebbers commented on #677
Since ITW is part of AdoptOpenJDK we never supported the Applet Plugin for Firefox. Maybe @judovana can give you a hind where you can get it for old versions.

[2020-08-03 07:16] hendrikebbers opened #681 "Provide a .editorconfig file"
**🆕🐥🐶 First Timers Only**
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

**👾 Description of the issue**
We should add a `.editorconfig` file to IcedTea-Web (ITW) . See [https://editorconfig.org/](https://editorconfig.org/) for he definition of su

[2020-08-04 07:57] stonefix commented on #681
Please, assign to me)

[2020-08-04 08:38] hendrikebbers commented on #681
Done. If you need any help just ask here in the issue or at our slack channel.

[2020-08-04 14:00] stonefix commented on #681
Ok, i tried it in PR #684

[2020-08-07 07:36] #681 closed

[2020-08-19 23:26] FranciscoMeloJr opened #690 "ITW classloader doesn't scale well with the large number of classes"
Hello, doing some tests with a high number of classes, so results show a very long startup (several times slower than a direct startup without IcedTeaWeb) with local JAR paths. When the cache is not used at all, the same occurs.

[2020-08-20 07:48] hendrikebbers commented on #690
Hi, can you provide a test scenario? a Zip for example that we can start to see the effect.

[2020-08-21 07:37] hendrikebbers commented on #690
Next to this we have released 1.2 yesterday. It provides parallel downloads of application resources.

[2020-08-28 14:35] johannes-martin opened #691 "properties from extension jnlp are not set"
Assume a project with two jnlp files a.jnlp and b.jnlp, where a.jnlp loads b.jnlp as extension.

Both a.jnlp and b.jnlp define a property within the resources.

At runtime, only the property defined by a.jnlp is set, the property defined by b.jnlp is ignored.

With Oracle's webstart, the property is set, even if defined in b.jnlp.

[2020-08-28 16:00] sclassen commented on #691
Thanks for reporting
This is known but currently we cannot give an estimate on when this will be fixed.

[2020-09-01 09:12] #2 closed

[2020-09-01 09:14] #88 closed

[2020-09-01 09:15] #87 closed

[2020-09-01 09:16] #86 closed

[2020-09-01 09:16] #85 closed

[2020-09-01 09:17] #84 closed

[2020-09-01 09:18] #83 closed

[2020-09-01 09:19] #80 closed

[2020-09-01 09:19] #79 closed

[2020-09-01 09:20] #78 closed

[2020-09-01 09:20] #76 closed

[2020-09-01 09:21] #75 closed

[2020-09-01 09:21] #74 closed

[2020-09-01 09:22] #73 closed

[2020-09-01 09:22] #72 closed

[2020-09-01 09:22] #71 closed

[2020-09-01 09:24] #70 closed

[2020-09-01 09:25] #69 closed

[2020-09-01 09:26] #68 closed

[2020-09-01 09:26] #67 closed

[2020-09-01 09:28] #66 closed

[2020-09-01 09:28] #65 closed

[2020-09-01 09:29] #64 closed

[2020-09-01 09:30] #58 closed

[2020-09-01 09:30] #63 closed

[2020-09-01 09:33] #62 closed

[2020-09-01 09:33] #61 closed

[2020-09-01 09:35] #60 closed

[2020-09-01 09:35] #59 closed

[2020-09-01 09:35] #57 closed

[2020-09-01 09:36] #56 closed

[2020-09-01 09:37] #55 closed

[2020-09-01 09:38] #52 closed

[2020-09-01 09:38] #47 closed

[2020-09-01 09:39] #45 closed

[2020-09-01 09:39] #44 closed

[2020-09-01 09:40] #43 closed

[2020-09-01 09:40] #42 closed

[2020-09-01 09:40] #41 closed

[2020-09-01 09:41] #40 closed

[2020-09-01 09:41] #39 closed

[2020-09-01 09:42] #48 closed

[2020-09-01 09:43] #33 closed

[2020-09-01 09:43] #32 closed

[2020-09-01 09:44] #31 closed

[2020-09-01 09:44] #30 closed

[2020-09-01 09:44] #29 closed

[2020-09-01 09:44] #28 closed

[2020-09-01 09:45] #27 closed

[2020-09-01 09:45] #26 closed

[2020-09-01 09:46] #25 closed

[2020-09-01 09:46] #34 closed

[2020-09-01 09:46] #35 closed

[2020-09-01 09:46] #36 closed

[2020-09-01 09:47] #37 closed

[2020-09-01 09:47] #38 closed

[2020-09-01 09:47] #22 closed

[2020-09-01 09:48] #49 closed

[2020-09-01 09:49] #90 closed

[2020-09-01 09:49] #91 closed

[2020-09-01 09:51] #97 closed

[2020-09-01 09:51] #96 closed

[2020-09-01 09:52] #94 closed

[2020-09-01 09:54] #93 closed

[2020-09-01 09:55] #98 closed

[2020-09-01 09:57] #95 closed

[2020-09-01 09:58] #104 closed

[2020-09-01 09:58] #105 closed

[2020-09-01 09:58] #103 closed

[2020-09-01 09:59] #106 closed

[2020-09-01 10:00] #100 closed

[2020-09-01 10:02] #110 closed

[2020-09-01 10:03] #112 closed

[2020-09-01 10:03] #109 closed

[2020-09-01 10:03] #115 closed

[2020-09-01 10:04] #118 closed

[2020-09-01 10:04] #16 closed

[2020-09-01 10:06] #108 closed

[2020-09-01 10:07] #53 closed

[2020-09-01 10:07] #135 closed

[2020-09-01 10:08] #199 closed

[2020-09-10 05:48] NikitaS1609 opened #696 "Unable to launch application using Iced Web Tea 1.8 - Zulu"
I am getting below exception while launching a java based application:

[code]
[code]

Can someone help me with this?

[2020-09-10 06:28] NikitaS1609 opened #697 "NPE during app launch"
Hi All,

I am getting below exception while trying to launch my application using Iced Web tea - Zulu:

MESSAGE Exception launching the Eclipse Platform:
[code]

Can someone help me?

[2020-09-10 08:09] sclassen commented on #697
The message suggest that the code is trying to insert `null` into a Hashtable.
The origin of this insert is in the class `org.eclipse.equinox.launcher.WebStartMain` which is not part of ITW.
You need to look in you application code to see what is going wrong

[2020-09-11 07:39] Jamila891 commented on #141
accidentialy closed.

[2020-09-11 07:42] Jamila891 commented on #696
Could you add an reproducible example? Or you could also give us access to your application, if it is public?

[2020-09-14 10:12] NikitaS1609 commented on #696
Thanks for you reply!
I am afraid that the application is private. Hence, wont be able to give access to it.
This application launches fine with Oracle Javaws. I have been trying to launch it with the help of IceTea Web and Zulu 8.
Getting above error with iced tea web.
Below is the jnlp file for reference.

<?xml version="1.0" encoding="UTF-8"?>
<jnlp spec="1.0+" codebase="http://admefgqa1.eu-dev

[2020-09-14 10:14] NikitaS1609 commented on #696
<--<?xml version="1.0" encoding="UTF-8"?>
<jnlp spec="1.0+" codebase="http://admefgqa1.eu-dev2.gslb.abc.com/">
  <information>
    <title>efg-Hub</title>
    <vendor>abc International</vendor>
    <homepage href="http://www.abc.com" />
    <description>efg-Hub (Java)</description>
  </information>

  <security>
    <all-permissions/>
  </security>

  <application-desc main-class="com.abc.efg.hub.s

[2020-09-14 10:15] NikitaS1609 commented on #697
ok thank you for your reply!

[2020-09-14 10:15] #697 closed

[2020-09-14 10:27] hendrikebbers commented on #696
I assume this is specific for Eclipse / OSGI. I never tried to start an application that is based on OSGI with ITW. Since I have zero knowledge about OSGI it would be really good to have a small "Hello world" application that shows the error. @NikitaS1609 would it be possible to provide such application?

[2020-09-16 08:09] Jamila891 commented on #10
Can we close this issue @charliegracie ?

[2020-09-16 08:19] #113 closed

[2020-09-16 08:24] Jamila891 commented on #268
Hi @douph1, can we close this issue?

[2020-09-16 08:25] Jamila891 commented on #246
Hi @ExtaX, can we close this issue?

[2020-09-16 08:27] #272 closed

[2020-09-16 08:28] Jamila891 commented on #296
@sclassen can we close this issue?

[2020-09-16 08:33] Jamila891 commented on #315
Hi @daddyaddy, does this error still happens after the last release?

[2020-09-16 08:41] Jamila891 commented on #337
@judovana we plan to provide release notes for icedTea-Web starting with the next release in Github. Today we only do it for OpenWebStart, but with the next release we will add all changes that are related to icedTea-Web to the Github Release of icedTea-Web.

[2020-09-16 08:41] #337 closed

[2020-09-16 08:42] Jamila891 commented on #356
@matand72 does this still happen or can we close this issue?

[2020-09-16 08:46] Jamila891 commented on #332
@judovana should we add the static part as a MarkDown file to this repo?

[2020-09-16 08:47] #385 closed

[2020-09-16 08:49] Jamila891 commented on #382
@hendrikebbers please check if we still depend on these libraries.

[2020-09-16 08:52] Jamila891 commented on #421
Hi @DirkNie, does this error still happen or can we close this issue?

[2020-09-16 09:03] Jamila891 commented on #465
@solcaj is this issue still open? If yes, can you please provide a JNLP file?

[2020-09-16 09:04] Jamila891 commented on #107
@ccrashh is this issue still open?

[2020-09-16 09:05] #474 closed

[2020-09-16 09:09] Jamila891 commented on #463
Hi @anthraxx, can you provide some help otherwise we are going to close this issue?

[2020-09-16 09:13] Jamila891 commented on #415
@Brodzio at the moment we do not have the resources to implement this for the icedTea-Web stand alone installer. You can try the AdoptOpenJDK installer or the [OpenWebStart](https://github.com/karakun/OpenWebStart) installer. Both automatically associate the JNLP mime type.

[2020-09-16 09:14] #415 closed

[2020-09-16 09:17] anthraxx commented on #463
@Jamila891 @hendrikebbers hey, thanks for the response. I was a bit confused about what kind of tutorial your are expecting and then simply forgot that input was requested. Can you help me out in which specific area should I help giving information?
What comes to mind would be: How to create a key, how to manage release keys among team members (how many team members are eligible to create a releas

[2020-09-16 09:22] lherschi commented on #415
As already written, the standalone icedtea-web installer creates all necessary registry entries. I have implemented some of them myself. So nothing needs to be implemented here. The AdoptOpenJDK installer, however, does not generate all the necessary entries.

[2020-09-16 10:45] hendrikebbers commented on #463
Hi @anthraxx you do not need to write it down if there are already sources online. We are willing to do that be we can not spend much time in this issue. Therefore it would be good if you can send us links to a / some step-by-step documentations so that a developer can do that.

[2020-09-16 10:50] anthraxx commented on #463
@hendrikebbers does this include how to create a signing key? Also I would be interested in knowing how many team members are issuing a final release as that is an important bit how to recommend appropriate handling of trusted signing keys. Otherwise a signature is not worth anything if there is no defined set of trusted keys.

[2020-09-16 10:53] hendrikebbers commented on #463
I know how to create a key. But I have no idea how to sign a tarball for example ;) I hated there is a good step by step example on "how to sign tarballs for GitHub releases" or something like that :D

[2020-09-16 11:15] sclassen commented on #463
Releases are built by a build server. So there is only one key neede.

[2020-09-16 11:26] anthraxx commented on #463
@sclassen ah good to know. Is the matching git release tag created before the build server CI runs to release the version or afterwards?
Interesting to know for some recommendations that will follow as you also want to sign the sources as well not just the binary artifacts. The github matching source tarballs should have a signature as well :cat: And does the build server build from git and is awa

[2020-09-16 12:36] sclassen commented on #463
Currently the build server is setup to listen on new git tags.
Thus we create a tag in github. This triggers a build on the buildserver. The buildserver uses git to get the sources from github.
Regarding the source tar balls. They are created by github and not by our build

[2020-09-16 13:04] tnais opened #699 "when using an authenticating proxy, javaws attempts to get the JNLP file before obtaining the credentials from the user"
I am taking care of an IcedTea based tool that replaces Javas Web Start in a corporate application.
Some of our users work with their machine within customers network where all the outbound http connections passe through an authenticating proxy.

What our use experience is that the proxy credentials dialog box appears and within a second or so, an error dialog box appears declaring that there is a

[2020-09-16 18:48] janakmulani commented on #500
ITW  must have bundled jsobject.jar that has _netscape.javascript.JSObject_ as it supports Applets.  ITW puts the bundled bundled jsobject.jar on the LAUNCHER_BOOTCLASSPATH.

_netscape.javascript.JSObject__ is also present in jfxrt.jar of JDK 8.

JDK 11 and Azul FX-JDK 13 have it in jrt-fs.jar

[2020-09-16 20:46] #296 closed

[2020-09-17 07:04] douph1 commented on #415
https://github.com/AdoptOpenJDK/IcedTea-Web/issues/557

Just a note for me :
ITW installer reg keys : https://github.com/AdoptOpenJDK/IcedTea-Web/blob/master/launchers/win-installer/installer.json.in
AdoptOpenJdk installer reg keys : https://github.com/AdoptOpenJDK/openjdk-installer/blob/master/wix/Main.hotspot.wxs
diff : "Content Type" "application/x-java-jnlp-file" vs "application/jnlp"
missing

[2020-09-17 07:08] douph1 commented on #415
@Brodzio if your problem is about AdoptOpenJdk installer, please open a issue or better a pull request to fix it in the good repo
https://github.com/AdoptOpenJDK/openjdk-installer/
including which browser don't handle it well and what content-type you get.

[2020-09-17 07:21] #677 closed

[2020-09-17 07:30] douph1 commented on #268
@wanderleihuttel can you give more precise info
and if always the case split this issue in two or three new  issues ..
One for the jnlp and one or thow for the jar file

Neither javaw.exe in cmd neither via double click seems two unrelated problems

Double click on which one ? jar or jnlp ?

[2020-09-17 07:47] #662 closed

[2020-09-17 07:58] hendrikebbers opened #700 "Add Travis Build"
**🆕🐥🐶 First Timers Only**
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

**👾 Description of the issue**
IcedTea-Web should have a [Travis](https://travis-ci.org) build. Information how a Java project can be build by Travis can be found [here](htt

[2020-09-17 14:59] karianna commented on #700
Commenting purely on the template design here (if we were to adopt it across all repos).  I do find the heavy icon usage distracting.  Perhaps we could tone down some of that.

The bulleted list could/should be numeric?

Overall I love the concept

[2020-09-17 19:58] hendrikebbers commented on #700
Added the template as a GIST for future discussion here: https://gist.github.com/hendrikebbers/8e4dec9ddea5e2a420080d1314af025f

Since this is a real issue we should discuss the template in the gist. I will update this issue from time to time to have a real sample :)

[2020-09-17 19:59] hendrikebbers commented on #700
Oh, and I removed several emojis ;)

[2020-09-17 22:02] wanderleihuttel commented on #268
Hello @douph1 !
Sorry for this long delay!
Here in Brazil a lot of systems is using a jar file to sign files (using digital certificates), and using Oracle Java I just double click in file and it works, but when I've tried to use OpenJDK it doesn't worked.

Unfortnately I didn't tried anymore because the coworkers couldn't wait and then I'm using and old version on Java Oracle.
When I will not be

[2020-09-18 07:51] hendrikebbers commented on #699
Hi @tnais looks like you are tying to build something like https://github.com/karakun/OpenWebStart ? Are you familiar with OWS? Maybe this already solves your needs.

Otherwise we did a new proxy implementation as part of OWS. You can have a look to the https://github.com/karakun/OpenWebStart repo. I always wanted to downgrade that proxy implementation to IcedTea-Web but found no time until now.

[2020-09-18 07:53] sclassen commented on #395
Install guide should list the different options of installing ITW:
- As part of a JDK (e.g. Adopt JDK 8)
- Standalone from the 1.8 release
- Use other tools which include ITW (e.g. https://github.com/karakun/openwebstart)

[2020-09-18 11:53] tnais commented on #699
I packaged an OpenJDK + IcedTea in order to let our users continue to use a Java Web Start application. The "tool" is only that we created a strictly confined deployments in order not to interfere with other OpenJDK 8 or legitimate Oracle Java 1.8 installations the user might have on his/her computer (i.e. people working with SAP). If your advice is to update from IcedTea to OpenWebStart we'll con

[2020-09-18 12:09] sclassen commented on #699
Checking out OWS is an option. Be advised that it works a little different than ITW.
It does not come with a fixed Java version. Rather it has the capability to download a requested version.
Besides that it works mostly like ITW as it is based on the 2.0.0-alphaX branch of ITW

[2020-09-18 16:17] tnais commented on #699
OK, in our tool we pack everithing to make things easiers for the users.

[2020-09-18 16:31] tnais opened #701 "Unexpected exception while launching icedtea."
When launching the same thing discussed in https://github.com/AdoptOpenJDK/IcedTea-Web/issues/699, another use, this time using Ubuntu 18.04 incurres in this  exception:

java.lang.reflect.InvocationTargetException
	at java.awt.EventQueue.invokeAndWait(EventQueue.java:1349)
	at java.awt.EventQueue.invokeAndWait(EventQueue.java:1324)
	at net.sourceforge.swing.SwingUtils.callOnAppContext(SwingUtils.

[2020-09-18 17:51] bmsbharathi commented on #700
Hey, I am interested in setting up Travis CI. Let me know what is the expectation here

[2020-09-20 12:08] matand72 opened #702 "Override java.locale.providers not working when running openwebstart 1.2.1"
When running an application using openwebstart 1.2.1 (using AdoptOpenJDK 11) we cannot set the java.locale.providers. we want to change the so that is uses the JRE locale information and not the CLDR information.

http://openjdk.java.net/jeps/252

The parsing of the CLDR locale information is not work correctly with some locales (for instance se_SV and negative numbers). So we need to specify the

[2020-09-21 07:49] sclassen commented on #702
`java.locale.providers` is currently not on the list of save properties to pass at JVM start.
We will consider adding this to our next version (scheduled for November).

[2020-09-21 08:03] matand72 commented on #702
Great news! If you need someone to test this or some other help just let me know. This is a real problem for us. We are right know considering using the icu4j lib to circumvent this but it is massive and we do not want to add another 12 Mb of size to our web start application.

[2020-09-21 11:27] Jamila891 commented on #317
@daddyaddy Can we close this issue?

[2020-09-21 11:29] #401 closed

[2020-09-21 11:31] Jamila891 commented on #400
Hey @patris70, do you plan to create a pull request for this issue? otherwise we're going to close this issue.

[2020-09-21 11:32] #77 closed

[2020-09-21 11:36] Jamila891 commented on #568
@dpolivaev does this problem still occure? We didn't have the time to look at this issue, but if it still doesn't work, we'll look at it in the hopefully near future.

[2020-09-21 11:38] Jamila891 commented on #190
@douph1 did the last message help you to solve the problem? If yes, we would close this issue.

[2020-09-21 11:38] #222 closed

[2020-09-21 11:39] #566 closed

[2020-09-21 11:40] #591 closed

[2020-09-21 11:41] #602 closed

[2020-09-21 11:42] #329 closed

[2020-09-21 11:44] #588 closed

[2020-09-21 11:46] #394 closed

[2020-09-21 11:53] Jamila891 commented on #184
hey @the-suspect2, what is the current state of this issue?

[2020-09-21 11:56] hendrikebbers opened #703 "Provide Label for ITW native build & installer"
We should provide a label that can be used to mark all issues that are related to the RUST based installers and executables of ITW. Currently we do not really have support for that issues and I would like to get an overview.

[2020-09-21 11:58] hendrikebbers commented on #703
see Label "Native Build"

[2020-09-21 11:58] #703 closed

[2020-09-21 12:04] Jamila891 commented on #318
@tdrebens Is this problem still here? If yes, please provide us with the log files.

[2020-09-21 12:05] the-suspect2 commented on #184
Current state is highlighted in my previous comment:
https://github.com/AdoptOpenJDK/IcedTea-Web/issues/184#issuecomment-495090229

Works when the specific user is given full rights to the cache directory,
but setting permissions like this in a domain environment sounds like a
pain. IMO that's an issue to fix.

Unless that may have changed, please give me time until the end of this
week and I'll t

[2020-09-21 12:06] #347 closed

[2020-09-21 12:13] Jamila891 commented on #469
@conathan do you still plan to do a pull request? If not, we're going to close this issue.

[2020-09-21 12:17] Jamila891 commented on #638
@judovana we do not understand this issue ;-)

[2020-09-21 12:18] Jamila891 commented on #649
@SubHuman1963 does this issue still occure? It might have been fixed with the latest release. If so, we will close this issue.

[2020-09-21 12:19] Jamila891 commented on #655
@LydiaLME any update here?

[2020-09-21 12:20] Jamila891 commented on #657
@hostafrica is this issue still open? If yes, can you please attach the JNLP file.

[2020-09-21 12:22] Jamila891 commented on #666
@rchandrabrcm is this issue still open?

[2020-09-21 12:23] Jamila891 commented on #676
@rchandrabrcm any update here?

[2020-09-21 12:25] Jamila891 commented on #690
@FranciscoMeloJr did you test the release 1.2.1 ? Can you provide a test scenario?

[2020-09-21 12:27] Jamila891 commented on #699
@tnais How should we proceed with this issue?

[2020-09-21 12:30] Jamila891 commented on #700
@bmsbharathi we are more than happy if you want to work on this issue. The expectations are described in the description of this issue. If you need further help in the github workflow see this URL: https://github.com/firstcontributions/first-contributions/blob/master/README.md

[2020-09-21 12:33] septpadm commented on #318
@Jamila891 The problem remains in Perstorp and I uploaded my logs to @hendrikebbers when I did some testing earlier this sommer. I will try upload the logs again now.
[itw-javantx-2020-07-24_13_29_32.904.log](https://github.com/AdoptOpenJDK/IcedTea-Web/files/5255336/itw-javantx-2020-07-24_13_29_32.904.log)
[itw-clienta-2020-07-24_13_29_38.459.log](https://github.com/AdoptOpenJDK/IcedTea-Web/files/

[2020-09-21 12:37] tnais commented on #699
Hard thing to say... If this could be fixed in IcedTea-Web much better (have I to move the bug notice elsewhere), if it is fixed for sure in OpenWebStart  [say which stable version, the tool is quite important for the company] then put it as solution and we will see what to do on our side.

[2020-09-21 13:01] SubHuman1963 commented on #649
Hi all, sorry, haven't updated this issue for a while. As we were informed by the 3rd party they will be investigating this issue at their side. So I'll be closing this one. Many thanks to all who replied and gave some usefull suggestions and insight.

[2020-09-21 13:01] #649 closed

[2020-09-21 13:11] LydiaLME commented on #655
Hi

Please close this ticket and this is no longer required.

Thanks

Lydia Pierre

From: Jamila891 <notifications@github.com>
Sent: 21 September 2020 13:20
To: AdoptOpenJDK/IcedTea-Web <IcedTea-Web@noreply.github.com>
Cc: Lydia Pierre <Lydia.Pierre@lme.com>; Mention <mention@noreply.github.com>
Subject: Re: [AdoptOpenJDK/IcedTea-Web] Unable to open *.jnlp files with IcedTea Web (#655)

WARNING: E

[2020-09-21 13:13] #655 closed

[2020-09-21 13:55] sclassen commented on #184
The `createRestrictedFile()` has not changed.
So most likely this still persists

[2020-09-21 18:01] conathan commented on #469
I have not had a chance to work on this, but still wanting to see if I can make a patch and a pull request for this.

[2020-09-21 20:02] douph1 commented on #190
I had saved it correctly in UTF-8 (vim linux user here).
Has you as seen, "file" command confirmed this was utf-8
I will try one more time.

[2020-09-21 20:15] douph1 commented on #190
see the original sample
[version.jnlp.txt](https://github.com/AdoptOpenJDK/IcedTea-Web/files/5257930/version.jnlp.txt)

[2020-09-22 07:22] hendrikebbers opened #705 "Provide a documentation for installation"
**🆕🐥🐶 First Timers Only**

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

**👾 Description of the issue**

IcedTea-Web can be installed and used in 3 different ways:

- When installing AdoptOpenJDK 8 on Windows IcedTea-Web can be selected in the i

[2020-09-22 07:33] hendrikebbers opened #706 "Provide a documentation for the native build"
**🆕🐥🐶 First Timers Only**

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

**👾 Description of the issue**

IcedTea-Web can be build as a standalone tool. The native builds are already triggered by Jenkins:

- https://ci.adoptopenjdk.net/job/icedte

[2020-09-22 07:34] #395 closed

[2020-09-22 07:34] hendrikebbers commented on #395
I created https://github.com/AdoptOpenJDK/IcedTea-Web/issues/706 and https://github.com/AdoptOpenJDK/IcedTea-Web/issues/705 as "Good first issue" issues.

[2020-09-22 07:53] hendrikebbers commented on #702
see https://github.com/AdoptOpenJDK/IcedTea-Web/pull/704

[2020-09-22 07:55] douph1 commented on #664
Seen on slack that `-Dsun.java2d.xrender=false` help for yellow screen. I can't say more

[2020-09-22 08:12] patris70 commented on #400
Hi @Jamila891
unfortunately i am not a java developer, i hope someone writes code.

regards

[2020-09-22 08:48] hendrikebbers commented on #664
@douph1 yes, it is documented in the linked repository. Since this is not a IcedTea-Web specific issue I will close this issue. Documentation should be continued in https://github.com/AdoptOpenJDK/openjdk-support/issues/187

[2020-09-22 08:48] #664 closed

[2020-09-22 11:23] matand72 commented on #702
White list of system properties in #702 is of course a needed for this issue but I don't think it will solve the problem since the current code in Boot.jar (as shown in stack trace above) creates a LocaleProviderAdapter before the java.locale.providers will be  set.

And since the LocaleProviderAdapter  are cached setting the the java.locale.providers will not help since it will be ignored. The co

[2020-09-22 11:34] sclassen commented on #702
Yes and no.
It is sufficient as OWS will start the second VM with the property on the VM arguments thus the property is set before any code is executed.

And no the new solution is limiting in that it requires you to add the exact VM argument (including the value) and does not allow to specify simply the property.
I will take this limitation back to the dev team maybe we offer two configuration li

[2020-09-22 11:53] matand72 commented on #702
Ok! Sorry for my limited knowledge of the code. Aa long as I'm able to set the

<resources>
    <property name="java.locale.providers" value="COMPAT,SPI"/>
   <j2se version="11+" initial-heap-size="100m" max-heap-size="512m"/>
...
</resources>

in the JNLP file and the code set it before any of the application code is executed then I'm happy :)

[2020-09-22 12:04] sclassen commented on #702
Well almost. You need to set the property as a 'java-vm-args' and not as a 'property'

[code]

[2020-09-22 19:38] douph1 commented on #190
Just trying with latest OpenJDK8U-jdk_x64_windows_hotspot_8u265b01.msi bundled with icedtea1.8.3 .. same : accent broken
OpenWebStart 1.2.1 : encoding correct
![openwebstart_1 2 1](https://user-images.githubusercontent.com/45632394/93928782-27afd300-fd1b-11ea-858d-54ce4a576470.png)

and same for Start Menu
![start_menu](https://user-images.githubusercontent.com/45632394/93928977-6e9dc880-fd1b-11ea

[2020-09-22 19:50] FelixJongleur42 commented on #706
Thumbs up for this ticket, inviting others to contribute.

[2020-09-22 21:47] douph1 commented on #392
Just successfully build master branch (2.0.0-SNAPSHOT) !

Thanks this #392 and #520

Done on Cygwin
I have set PATH(with a java bin path with short folder name c:\Progra~1\)
WIX_TOOLSET_DIR
JRE

and I can now close https://github.com/AdoptOpenJDK/IcedTea-Web/issues/190 :)

[2020-09-22 21:48] douph1 commented on #190
Just tested master branch and the encoding bug seems fixed for the next 2.0.0

[2020-09-22 21:48] #190 closed

[2020-09-23 05:21] NikitaS1609 commented on #696
Hi All,

I am able to launch the application now.
I was trying with the .zip installation available on the website.
When I tried with .msi, it is launching fine.
Thank you all for the replies.

The applications is working as expected. However, i see below error  [net.sourceforge.jnlp.runtime.JNLPClassLoader.loadClass(JNLPClassLoader.java:1605)] NETX Thread# 1e999c23, name Thread-43
java.lang.Class

[2020-09-23 07:30] tnais commented on #701
Solved editing policies.

[2020-09-23 07:30] #701 closed

[2020-09-23 08:00] douph1 commented on #392
@patris70 I have the same error
org.apache.commons.exec.ExecuteException: Process exited with an error: 1 (Exit value: 1)
when my JRE path contains space in the name
you can add "-X" to mvn command to show the exec command who failed with exit 1
For me the JRE path was not quoted .. I have replaced with Progra~1 instead of "Program Files"

[2020-09-23 08:05] patris70 commented on #392
@douph1
Thanks for Infos. I try it and write here the result.
But as Info, my JRE Path has not Space and Path is D:\JDK\JRE

regards

[2020-09-23 09:05] patris70 commented on #392
Again Error:

**[DEBUG] Executing command line: [C:\64bit\cygwin\bin\bash.exe, C:\64bit\ice-2\launchers/build.sh, 2.0.0-alpha8]
[ERROR] Command execution failed.**
org.apache.commons.exec.ExecuteException: Process exited with an error: 1 (Exit value: 1)
    at org.apache.commons.exec.DefaultExecutor.executeInternal (DefaultExecutor.java:404)
    at org.apache.commons.exec.DefaultExecutor.execute (

[2020-09-23 09:10] douph1 commented on #392
and nothing more if you run

[2020-09-23 09:23] douph1 commented on #392
WIXGEN_JAR is the path to wixgen.jar defaulting to C:\msi-deps
I have not set it but placed the jar into the default folder C:\msi-deps

WIX_TOOLSET_DIR=C:\Progra~2\WiX Toolset v3.11\bin

[2020-09-23 09:23] patris70 commented on #392
JRE Error, but i have JAVA_HOME Variable and in PATH!!!

# bash launchers/build.sh 2.0.0-alpha8
+ set -e
+ set -o pipefail
+ SCRIPT_SOURCE=launchers/build.sh
+ '[' -h launchers/build.sh ']'
+ isWindows
++ uname
+ [[ CYGWIN_NT-6.3 == *\N\T* ]]
+ return 0
++++ dirname launchers/build.sh
+++ cd -P launchers
+++ pwd
++ cygpath -m /cygdrive/c/64bit/ice-2/launchers
+ readonly SCRIPT_DIR=C:/64bit/ice-2/l

[2020-09-23 09:32] douph1 commented on #392
As proprosed by @don-vip https://github.com/AdoptOpenJDK/IcedTea-Web/pull/520

and I'm ok with this !, I have added my comment:

Overloading JAVA_HOME with JRE is a good option, but I agree with @don-vip and @patris70 that making mandatory to set JRE when JAVA_HOME exists is superfluous

[2020-09-23 09:39] patris70 commented on #392
Ok, now i get Error about **/Libs**

$ launchers/build.sh 2.0.0-alpha8
+ set -e
+ set -o pipefail
+ SCRIPT_SOURCE=launchers/build.sh
+ '[' -h launchers/build.sh ']'
+ isWindows
++ uname
+ [[ CYGWIN_NT-6.3 == *\N\T* ]]
+ return 0
++++ dirname launchers/build.sh
+++ cd -P launchers
+++ pwd
++ cygpath -m /cygdrive/c/64bit/ice-2/launchers
+ readonly SCRIPT_DIR=C:/64bit/ice-2/launchers
+ SCRIPT_DIR=C:/

[2020-09-23 09:42] patris70 commented on #392
@douph1

Can you please Upload your Tools Folder in your Github, then i can download und use it for compiling.

[2020-09-23 12:07] patris70 commented on #392
Compiled without ERROR, for Windows launcher Build, very bad settings in Source Files!
![1](https://user-images.githubusercontent.com/39562080/94010270-fe885480-fda5-11ea-8ece-ad39d196ae9a.jpg)

![2](https://user-images.githubusercontent.com/39562080/94010289-05af6280-fda6-11ea-867e-dc152a67a230.jpg)

[2020-09-23 20:46] ulooky opened #707 "Fatal: Read Error: Could not read or parse the JNLP file"
I am getting the following error when I run javaws on my asdm.jnlp file
[asdm.zip](https://github.com/AdoptOpenJDK/IcedTea-Web/files/5271826/asdm.zip)
[asdm.zip](https://github.com/AdoptOpenJDK/IcedTea-Web/files/5271828/asdm.zip)

net.sourceforge.jnlp.LaunchException: Fatal: Read Error: Could not read or parse the JNLP file. You can try to download this file manually and send it as bug report to I

[2020-09-24 09:12] patris70 commented on #392
@hendrikebbers
Hi, here is Info for Compiling Tools on Windows, you can using for Windows Build Document.

First, we need itw_win_devkit, here is link (**we do not need MS VS or other**), as Info you can using this Tools for Icedtea-Web 1.8.x compiling:
`https://github.com/akashche/itw_win_devkit`

Download MAVEN from here:
`https://maven.apache.org/download.cgi`

Download GIT from here:
`https://

[2020-09-24 10:03] lherschi commented on #392
That's not true. The Java bit version doesn't matter.

The following is necessary for a 32-bit target system:
Set "win64": false in installer.json.in. This is optional because it is the default of wixgen.
Set the parameter "-arch x86" at candle.exe in buils.sh. This is also optional because that is the default value.
The two things mentioned only affect the msi installer.
Make sure that rust uses

[2020-09-24 10:19] patris70 commented on #392
@lherschi

i have comipled both x64 and x86 Javaws.exe Version with my trick (my Machine is x64).
Rust takes Java Version (x64 or x86) and compile automatic.

Take Time and test it!

Regards

[2020-09-24 10:36] douph1 commented on #392
As @lherschi mentionned himself that

in https://github.com/AdoptOpenJDK/IcedTea-Web/issues/313
don't we must document a way without itw_win_devkit and just by
- installing Wix
- installing git
- installing cygwin
- installing Rust/Cargo
- installing a JDK
...

So we can test and use up-to-date tools ?

I think that yesterday when I have rebooted into Windows to build IceadTea, I have done it with

[2020-09-24 10:51] lherschi commented on #392
rust compiles the launcher, including javaws.exe, since the launcher is written in rust and not in java. Rust does not compile any java code, this is done using maven. Thus the java compiler is irrelevant for the bit version of the launcher.

[2020-09-24 11:01] lherschi commented on #392
The devkit is just a compilation of the tools needed. You need git, maven, jdk, cygwin, rust (including gnu-linker (stable-i686-pc-windows-gnu or default stable-x86_64-pc-windows-gnu)), WiX toolset and the wixgen library.

[2020-09-24 11:06] patris70 commented on #392
@lherschi
you have right for Icedtea-Web 2.x.
I tested and do not work this Trick for Icedtea-Web 2.x but works for Icedtea-Web 1.8.x.
Why?

[2020-09-24 11:55] lherschi commented on #392
From my point of view, your trick should not work even with 1.8. I build 1.8 myself for 32 and 64 bit and always have to make the adjustments I mentioned above. The difference between 1.8 and 2.0 and the launchers is that 1.8 uses make to call cargo and the wix toolset and 2.0 uses a shell script.

[2020-09-24 12:24] patris70 commented on #392
No, my trick works without Problem with 1.8.x Version.

But here is Trick for 2.x Version:

for Icedtea-Web 2.0 Version, you need just this trick for x86 building,
in .cargo folder create config file with this content (i used itw-dev kit):
**target = "i686-pc-windows-gnu"**

![8](https://user-images.githubusercontent.com/39562080/94144207-27295080-fe71-11ea-81ed-e187d1d60c82.jpg)

![9](https://use

[2020-09-24 12:37] lherschi commented on #392
This has the same effect as "rustup default fixed-i686-pc-windows-gnu".

This gives you a 32-bit launcher, and candle.exe creates a 32-bit msi installer by default.
Conversely, this means that in your 64-bit build the launcher is 64-bit, but the msi-installer is still 32-bit.

[2020-09-24 13:00] lherschi commented on #392
Your msi installer will then suggest "Program Files (x86)" instead of "Program Files" as the installation directory for your 64-bit build and if you follow the suggestion, you will have 64-bit launcher in the 32-bit program directory.

[2020-09-24 13:06] lherschi commented on #392
Your msi-installer suggests "Program Files" instead of "Program Files (x86)" as the installation directory for your 32-bit build, and if you follow the suggestion, you will have 32-bit launcher in the 64-bit program directory

[2020-09-24 13:13] patris70 commented on #392
I know, i do not need MSI File, becaues i build my self Openjdj 8uxxx+Icedtea-web MSI File.
For me is just important, both javaws.exe (x86 & x64).

[2020-09-24 13:17] lherschi commented on #392
Remember, however, that your installer must then also make the registry entries that the icedtea-web installer would otherwise make.

[2020-09-25 07:42] sclassen commented on #707
This error happens when ITW is unable to download the resources. Could you please attach the log files for further debugging this. Thanks

[2020-09-25 07:43] #696 closed

[2020-09-25 07:45] sclassen commented on #696
Is this class part of your application?
Is it required to run the app?
Is it contained in one of the JARs?

[2020-09-25 07:48] hendrikebbers commented on #469
@conathan cool :) If you need help or have questions just ping us.

[2020-09-25 07:49] patris70 commented on #392
you donot need **MSLINK**.

[2020-09-25 07:56] sclassen commented on #699
We currently do not have any proxy with authentication setup.
OWS has re-implemented the entire proxy code. So can you give the version 1.2.1 a shot and report any problems in the OWS issue tracker.

[2020-09-25 08:01] sclassen commented on #318
From your logs:
[code]
and

[code]

Corba has been removed from Java 11. So you would need to specify a Java/j2se version of `1.8.*` in the JNLP to make sure that a java 1.8 is used

[2020-09-25 08:06] #313 closed

[2020-09-25 08:08] hendrikebbers commented on #107
Adding https://github.com/AdoptOpenJDK/IcedTea-Web/issues/318 since it is about SAP PI, too. The issue is a different one.

[2020-10-02 21:08] sclassen opened #709 "Improve re-use of HTTP connections"
This is a followup issue from https://github.com/karakun/OpenWebStart/issues/152.

A good starting point may be https://techblog.bozho.net/caveats-of-httpurlconnection/

[2020-10-04 17:16] dpolivaev commented on #568
I need to check it. Which version do you recommend? Can I use openwebstart 1.2.1?

[2020-10-04 17:27] sclassen commented on #568
Yes, 1.2.1 has the latest performance improvements

[2020-10-05 07:16] douph1 commented on #709
I'm not ok with this conclusion

You must call disconnect() so KeepAlive can reuse tcp connexion. It will not disconnect from the socket if the Http response support keep-alive and if the pool is not already full of idle connexion.
But you must absolutly be sure to have read all the inputStream and ErrorStream before disconnect to be assured that the connexion remain in the keep-alive pool

Maybe

[2020-10-05 07:29] douph1 commented on #709
Just to justify :
https://docs.oracle.com/javase/8/docs/technotes/guides/net/http-keepalive.html
Section : What can you do to help with Keep-Alive?

And : Changes in JDK 6

But relaying on this 512 read is not the best way. We must read all .. ourself

We do it in all our application with always all http-keepalive reuse.

[2020-10-05 10:49] douph1 commented on #709
I deleted my previous answer because my new experience does not reproduce the same effect as previously.
I will consider closing the inputStream vs disconnect.
However, HttpUrlConnection connection reuse works great with Keep-Alive if all input and error streams are consumed.

[2020-10-07 14:15] SchwingSK commented on #573
I was too affected by this bug: it stems from an inconsistency in the storage/retrieval of local files URLs in the download cache.
The cache is a map of <original URL, local file URL>
When a local file is stored in the cache, File.toURI().toURL() is called to transform it to an URL. The toURI() call URI-encodes the path.
So if the path was foo%40.jar, it becomes foo%2540.jar

However, when the loc

[2020-10-09 09:25] dpolivaev commented on #568
I am sorry, I changed my computer and my OS, and now I use Linux Mint 20.04 which is similar to Ubuntu 20.04.
I can not launch the attached application at all.

Could you please try it with jnlp-test.zip attached to https://github.com/AdoptOpenJDK/IcedTea-Web/issues/568#issuecomment-581650552 ? You need to adapt the href attribute in the first line because the attached file points to my old locati

[2020-10-09 15:59] FranciscoMeloJr commented on #690
I will close this for now.

[2020-10-09 15:59] #690 closed

[2020-10-10 12:59] h-hub commented on #706
@hendrikebbers I'm participating in ```hacktoberfest``` and would I like to work on this. I have already made my first pull request and waiting for approval. I would like to start working on this meanwhile.

[2020-10-13 10:55] jastax commented on #465
I ran into the same issue a few days ago, I think. Deleting the cache solved it as far as i remember. I think there was a problem trying to download a jardiff for an updated jar. The downloader said the jardiff could not be found (it was available on the server though)

[2020-10-13 12:42] jastax commented on #465
`Waiting for exception dialog to be closed
Launch exception
netx: Initialization Error: Could not initialize application. (Fatal: Initialization Error: Unknown Main-Class. Could not determine the main class for this application.)
Error flag set for resource 'http://application.ourdomain/clientstarter/jars/client.jar'. Can not return a local file for the resource
Activate native: http://application

[2020-10-14 21:43] charliegracie commented on #10
Yes

[2020-10-14 21:43] #10 closed

[2020-10-16 06:57] matand72 commented on #356
I haven't used that version since I got the error so I can't tell if it still happens.

[2020-10-16 07:41] #356 closed

[2020-10-16 07:53] sclassen commented on #465
We suspect that there might be an issue with JarDiff.
Unfortunately we do not have a system setup to test and debug this.
The log contains the following lines:
[code]
So the problem could be at different places. Either with the server to provide the jardiff.
Or with OWS failing to save the diff or failing to apply the diff...

[2020-10-16 07:56] sclassen commented on #465
If you are able to give us access to a system where we can reproduce this behavior we are more than happy to look into this.

[2020-10-16 07:57] #573 closed

[2020-10-16 08:12] jastax commented on #465
It was no problem to get the Jardiff via browser and it also works via Oracle Webstart, so I don't think it's a server issue. I will try to pin it down further though.

I will see what I can do to reproduce this, but I' not sure it's going to work.

[2020-10-16 08:44] jastax commented on #465
I think the wrong cache folder is used when doing the operation. It's configured to be /var/cache/java.deployment but it tries to use icedtea-web/cache (default).

I have to leave now but may look into whether this is the case later.

[2020-10-16 08:45] jastax commented on #465
Btw: using CacheUtil.downloadAndGetCacheFile on the jardiff seems to work

[2020-10-16 12:23] janakmulani commented on #568
Hi

I tried your app mentioned above.

Your app is an Applet. It works with Oracle javaws because Oracle javaws supports applets. OWS does not support applets.

To use OWS please consider migrate the app  away from JApplet.

[2020-10-16 18:15] deepankardixit90 opened #717 "IcedTea Web authorization failure issue (403) with CA Siteminder Single-Sign-On Server"
I am using IcedTea Web v1.8.3 to launch an application (via JNLP) on client machine. Upon launching the application, ITW fetches the jar files necessary to run the application from a remote server (over HTTPS). This works fine when there is no Single-Sign-On Server (SSO) in between and the authentication takes place through a valid client certificate or through a simple basic authentication. But w

[2020-10-17 00:13] RochaStratovan opened #718 ""netx: Read Error: Could not read or parse the JNLP file" when trying to start JNLP from web URL"
Hello,

I am attempting to start a Jenkins slave agent using from a windows command console using the command
[code]

and icedtea-web is failing with the message
[code]

It also causes an Error dialog to appear

The [Details] content is
[code]

The [Java Console] content is
[code]

The following is [System Properties].
[code]

This is a freshly created VM running Windows 10 Enterprise.

I just ins

[2020-10-17 08:10] sclassen commented on #718
Most likely the underlying cause is

Unexpected end of ZLIB input stream

[2020-10-19 08:18] hendrikebbers commented on #706
@h-hub sure, you can give it a try :)

[2020-10-19 08:31] jastax commented on #465
I'm currently unable to reproduce, but I now believe this exceptions occurs, because the folder ~/.cache/icedtea-web/ does not exist, i. e. when using another cache folder than the default one. In other cases there are calls like this
`    final File recentlyUsedFile = recentlyUsed.getFile();
        if (!recentlyUsedFile.exists()) {
            try {
                FileUtils.createParentDir(rece

[2020-10-19 14:05] h-hub commented on #706
Thanks, @hendrikebbers. :)

[2020-10-19 16:20] RochaStratovan commented on #718
@sclassen, thank you for the insights.

Is this a message for the developers for resolving the issue, or is this intended for me the user as something I can act upon? If for me, how can I act upon this?

Thank you for your help.

[2020-10-20 07:06] jastax commented on #465
This test throws java.io.FileNotFoundException: /home/myuser/.cache/icedtea-web/tmp/1bd2adfe-77dc-44d7-bdc8-21b073fa8aa6.jardiff (Datei oder Verzeichnis nicht gefunden) if /home/myuser/.cache/icedtea-web/tmp/ does not exist.

[code]

[2020-10-22 08:09] Jamila891 commented on #717
@deepankardixit90 can you please try https://github.com/karakun/OpenWebStart since we did some changes regarding this issue in OpenWebStart.

[2020-10-22 16:49] h-hub commented on #706
@hendrikebbers I was able to build the project in windows with the help of the links you have linked to this issue, the next step is to document the steps. Should I also be looking into mac, Linux, and portable builds as a part of this issue?

[2020-10-23 11:02] janakmulani commented on #607
Hi

I started investigating this with OpenwebStart by making a small sample.

When I start `javaws http://host/abc.jnlp` it shows me the authentication dialog twice : once in stage 1 for downloading jnlp and second time in stage 2 when it starts the jnlp. After this it does not show Authentication dialog for jar files. After this the app runs.

You say you are getting Auth dialog multiple times. I

[2020-10-23 12:23] deepankardixit90 commented on #717
Thanks for your comment @Jamila891. I tried OpenWebStart v1.2.2 and unfortunately, the issue still persists. We are still getting HTTP 403 Forbidden response from server.

[2020-10-26 07:53] vasvir commented on #607
Hi,

I am out of work this week. I will try to remember/recreate in Friday.

I can share jnlp file and apache conf fragments and logs.

Sorry for this & and thanks for looking at it.

     Vassilis

On 10/23/20 2:02 PM, janakmulani wrote:

[2020-10-26 12:58] hendrikebbers commented on #706
Well, depends on you. We are already happy when having a windows documentation. But I would not say no to linux & mac :)

[2020-10-26 16:47] h-hub commented on #706
I'll try to get the windows documentation done first and get feedback.  Then I can work on the rest. 👍

[2020-10-29 09:07] hendrikebbers commented on #717
At the moment there is no plan to provide single-sign-on functionalities for Iced-Tea Web.

[2020-10-29 09:12] #465 closed

[2020-10-30 08:00] vasvir commented on #607
My system is debian unstable

ii  icedtea-netx   1.8.4-1      all          Implementation of the Java Network Launching Protocol (JNLP)
with
ii  openjdk-11-jre:amd64          11.0.8+10-1  amd64        OpenJDK Java runtime, using Hotspot JIT
ii  openjdk-11-jre-headless:amd64 11.0.8+10-1  amd64        OpenJDK Java runtime, using Hotspot JIT (headless)

but I have seen this behavior with Windows and

[2020-10-30 08:04] vasvir commented on #607
I can see now that you want OWS. I thought it was the same with the netx implementation. I have definitely seen this behavior for every jar.

I will try it on windows or mac and get back to you.

[2020-10-30 08:14] sclassen commented on #607
Yes, OWS uses icedtea-web internally.
But it is based on the 2.0.x branch and this has many improvements over the 1.8.x branch

[2020-10-30 08:53] #700 closed

[2020-10-30 09:13] vasvir commented on #607
My tests were with icedtea-web. I just tried it with icedtea-web 1.8 and adopt 11.0.37 in windows and has the same behavior.

I will try now with OWS and the newest adopt jdk

ok

Now: AdoptOpenJDK 11.0.9.11 - OpenWebStart 1.2.2
It donwloaded the ajul jdk 11.0.7. Damn
It asked 5-6 times the credentials

Here is the log
[ows1.2.2-ajul-11.0.7.log](https://github.com/AdoptOpenJDK/IcedTea-Web/files/54

[2020-11-01 20:22] sclassen commented on #718
Sorry I was on vacation, so the message was for anybody who could jump in.

From reading the logs it seams to be some kind of network or gzip issue.
Because the error appears during the download & extract of the JNLP file.

These kinds of errors are very hard to diagnose from the distance.
One thing you could try is to disable compression on the server hosting mozart.

You could also give OpenWebS

[2020-11-02 15:56] RochaStratovan commented on #718
Good morning. How would one disable the compression from the hosting Jenkins server?

Although, I guess in retrospect this may be moot. I had so much trouble with this I switched over to doing SSH agent starts instead of using iced-tea.

Thank you for your input.

[2020-11-03 10:20] sclassen commented on #607
We are using multiple threads to download the resources.
It looks like it is asking for the password for each thread once.

We will further dive into this to try and fix it with the upcoming 1.3.0
But no promises yet as we do not know the underlying cause of this

[2020-11-03 10:26] sclassen commented on #607
A workaround for now is to include an href attribute into the <jnlp> tag.
The href should point to the JNLP file on the server and can be relative to the codebase

[code]

[2020-11-03 11:23] vasvir commented on #607
Thanks for the update.

Looks like good progress.

Good catch about the multiple threads thinghy.

Great workaround too. I would never have guessed it to use href.

Thanks Vassilis

On Tue, Nov 3, 2020 at 12:27 PM sclassen <notifications@github.com> wrote:

--
Vassilis Virvilis

[2020-11-03 12:37] sclassen commented on #607
The href triggers a download of the JNLP which will open the password prompt.
And by the time the download of the jars starts JAVA has cached the password

[2020-11-03 13:02] #607 closed

[2020-11-03 13:55] vasvir commented on #607
A thanks for the explanation.

Just noticed. Closed as not a bug anymore?

[2020-11-03 14:16] vasvir commented on #607
oh there is a patch #722. Sorry...

Thanks a bunch. Any idea when will be released?

[2020-11-03 14:17] sclassen commented on #607
Mid of November

[2020-11-05 09:07] Jamila891 commented on #718
@RochaStratovan can we close this issue?

[2020-11-06 11:43] aahlenst opened #724 "Replace Travis CI with something else"
Travis CI basically terminated free CI for OSS overnight. Could you please replace it with something else, like GitHub Actions? Please see https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1668 for details.

[2020-11-06 13:07] sclassen commented on #724
We build ITW also on our company CI. So in worst case until we find a solution we could stop using Travis.
I guess as it is best to not implement 10 different CI solutions we at ITW will just wait until Adopt has decided for an alternative to Travis and will then follow with the migration.

[2020-11-10 08:06] anlsmsk opened #725 "Cannot set deployment.properties correctly"
Hi friends.

I cannot open my remote gui with IcedTea-Web, tried many different deployment.properties settings but all still giving same response. Tried 8989,8990 port numbers also.

Anyone help me ? Thanks.

#Netx deployment configuration
#Mon Nov 09 12:10:47 TRT 2020
deployment.log=true
deployment.console.startup.mode=SHOW
deployment.log.file=true
deployment.security.level=ASK_UNSIGNED
deploymen

[2020-11-10 10:12] sclassen commented on #725
Could you please attach the logs. Without them it is really hard to tell where the problem resides.

[2020-11-10 10:27] anlsmsk commented on #725
sure. attached

[logs.txt](https://github.com/AdoptOpenJDK/IcedTea-Web/files/5516548/logs.txt)

[2020-11-10 12:57] sclassen commented on #725
there is a `java.lang.NumberFormatException: For input string: "8990 "`
Looks like there is a space after 8990

[2020-11-11 05:50] anlsmsk commented on #725
thank you, fixed and took new logs. Also adding deploymentProperties that I use.

[logs_11nov.txt](https://github.com/AdoptOpenJDK/IcedTea-Web/files/5522025/logs_11nov.txt)
[deploymentProperties.txt](https://github.com/AdoptOpenJDK/IcedTea-Web/files/5522027/deploymentProperties.txt)

[2020-11-11 06:03] anlsmsk commented on #725
Have tried to run with empty deploymentProperties file and I could open up other gui but for another gui Im still receiving same respond.
[withEmptyProperties.txt](https://github.com/AdoptOpenJDK/IcedTea-Web/files/5522062/withEmptyProperties.txt)

[2020-11-11 22:40] sclassen commented on #725
In the logs I see now many `java.net.SocketException: Can't connect to SOCKS proxy:Connection refused: connect:
Selecting proxy for: socket://47.168.142.107:443`

So how exactly is your network setup?
Are you required to use a proxy are do you have direct access to the server where the application is running?

[2020-11-12 09:09] Jamila891 commented on #724
we will be moving to github actions.

[2020-11-24 10:10] matand72 commented on #702
I can verify that this works using 1.3.0 (and using whitelist in deployment.properties). Thanks!

[2020-11-24 13:44] #702 closed

[2020-11-24 13:44] sclassen commented on #702
great to hear

[2020-11-26 09:53] #709 closed

[2020-11-26 11:28] douph1 commented on #709
@janakmulani can you give a reason when you close a issue ? did it was addressed on IcedTea-Web ? which branch ? wich PR ?

[2020-11-26 11:40] janakmulani commented on #709
@douph1  We reviewed your comment and concluded that you can no longer reproduce the issue (slow startup).  That is why we decided to close it. If you find that the issue is still occurring you can open it again. It will be helpful to provide us with a sample app that allows us to reproduce.

[2020-11-26 12:05] douph1 commented on #709
I have no complaint about slow startup.
Better asking @sclassen what he would like to do with this issue.
My comment about my deleted comment is about the fact that swallowing all the inputStream+errorStream is sufficient to reuse http connection.
**If** ITW don't reuse the TCP connexion for other http connexion this must be because the two stream are not fully read.
I actually don't know if ITW s

[2020-12-01 12:39] jantari commented on #453
Hi,

could this please be reconsidered?

This does not have to be a feature of the installer, rather what we need is simply a system-wide configuration file
that an administrator can set. A machine-level equivalent of `$XDG_CONFIG_HOME/icedtea-web/deployment.properties`

This is how many programs operate, e.g. vim.
You have a system-wide default-config that is in `/etc/vim/vimrc.local` (on Debian-

[2020-12-01 20:18] sclassen commented on #453
The following documentation is from the project OpenWebStart.
It is using IcedTeaWeb as its core. Thus the same approach is working for ITW.
https://github.com/karakun/OpenWebStart/blob/master/documentation/guide/OWSGuide.adoc#system-configuration

If you need more help in setting up a system wide config please come back

[2020-12-09 13:23] jastax commented on #707
I'm running into a same/similars issue from time to time (1.3.1). Sometimes launching the app works, sometimes this or a similar error shows up. It seems to happen more often when I'm trying to launch the application multiple times. It could be a race condition on the download / cache. Maybe it's a problem with download speed dropping below a certain threshold (or 0 for short bursts?).

I've not y

[2020-12-10 09:14] Jamila891 commented on #707
can you provide the log files? The stack trace is not helpful for us to solve this problem.

[2020-12-11 07:42] jastax commented on #707
I've launched the application multiple times. Launching it once seems to work. Launching it twice at the same time seems to lead to problems.

[log.zip](https://github.com/AdoptOpenJDK/IcedTea-Web/files/5677673/log.zip)

[2020-12-11 23:11] sclassen commented on #707
@jastax
Thank you for the logs. I found the cause of your problem. A fix is here #728
Unfortunately it is a different one from the original reporter.

The next release is currently planned for April 2021.

[2020-12-11 23:14] sclassen commented on #707
@ulooky if you still need help on this issue, we would need log files from your case.

[2020-12-15 15:00] jantari commented on #453
Thank you I was able to set that up and get it to work with IcedTeaWeb

[2020-12-17 01:14] conathan commented on #469
This is completely untested, (Specifically need some work on my Linux from Scratch development machine to get this to compile), but I believe this should strip out comments in the pattern of:
<pre>
 < ? - -
</pre>
[icedtea-web-1.8-allow_questionmark_comment.patch.txt](https://github.com/AdoptOpenJDK/IcedTea-Web/files/5706370/icedtea-web-1.8-allow_questionmark_comment.patch.txt)

Thank you.

[2020-12-18 08:03] jastax commented on #707
Hi @sclassen that's great, thank you.

I'm wondering about why the cache is even deleted though?

Is there a way to speed up the release? We'd like to use OWS 1.3.x in production starting in Q1/21.

[2020-12-18 08:49] sclassen commented on #707
We do offer different support options.
Details can be found on the official homepage: https://openwebstart.com/support/
There is also the possibility to have a customized splash screen.

For the free/community version there is only the half year release schedule.

[2020-12-18 08:56] sclassen commented on #707
I will take a second look at the cache deletion over the weekend

[2020-12-18 09:11] sclassen commented on #707
Just one question:
Have you set a limit to the cache size?
You can see the current settings in the settings UI on the "cache" tab.

[2020-12-21 10:31] jastax commented on #707
I'm sorry, I'll only have access to the windows computer in January. I don't think the cache limit is set / that low though. I'll check it next month

[2020-12-24 13:29] catalyst1987 opened #732 "IcedTea won't launch jnlp because of non-existent favicon.ico"
Hello,
    I have switched from the Oracle Java to OpenJDK and IcedTea on Windows 10, but am having an issue launching a jnlp that I tend to use that comes from IBM Support Assistant.  It would work with the Oracle Java, but I can't seem to open it with IcedTea.  It seems to look for a non-existent favicon.ico file and as a result HTTP 400 errors show up in the log and nothing ends up loading.

[c

[2020-12-24 14:13] marcus905 opened #733 "IcedTea rejects vaild JNLP file"
When trying to start a valid JNLP file IcedTea will reject the file with

[code]

In the JNLP file there is a presumably valid (JSR56 does not specify the type of the attribute size) element

`<icon href="..." size="48x48"/> `

The parser at https://github.com/AdoptOpenJDK/IcedTea-Web/blob/e3e147e1439b59cf9dfde9558a6dfe10025fd9ef/core/src/main/java/net/sourceforge/jnlp/Parser.java#L759 therefore i

[2020-12-24 23:37] sclassen commented on #732
Can you please attache the jnlp to this issue. Thanks

[2021-01-02 23:00] mdeweerd opened #734 "Correct the 'msi' installer extension in the release."
In https://github.com/AdoptOpenJDK/IcedTea-Web/releases/ , the 'msi' installer should not have the 'exe' extension.  It works when changing the extension to .msi.

It also impacts https://adoptopenjdk.net/icedtea-web.html where the 'msi' points to a link that does not exist because of the invalid extension.

[2021-01-05 07:16] Yoshitha24 opened #735 "Issue while launching jnlp through iced tea 1.8.3"
We have moved to OpenJDK 8 and are integrating it with Adopt IcedTeaWeb 1.8.3. We are facing some problems while launching which is inconsistent. Sometimes during launch, "net.sourceforge.jnlp.LaunchException: Fatal: Launch Error: Could not launch JNLP file." error is seen and launching is terminated. Please see  [java console.txt](https://github.com/AdoptOpenJDK/IcedTea-Web/files/5768601/java.con

[2021-01-07 08:21] jastax commented on #707
`
![cache](https://user-images.githubusercontent.com/1672178/103868865-c9401200-50c9-11eb-9dbc-2bfe957e2b5f.PNG)
`

[2021-01-07 09:06] Jamila891 commented on #707
@jastax we are going to take a deeper look into this bug. We'll keep you updated.

[2021-01-07 09:11] Jamila891 commented on #735
@Yoshitha24 this problem is not fixed in the IcedTeaWeb 1.8.x branch, but fixed in the master. You can try the master today by using OpenWebStart (https://github.com/karakun/OpenWebStart). Please give us feedback if the problem is solved there. Once this is done, we can check if a backport to 1.8.x is possible.

[2021-01-07 09:28] Jamila891 commented on #734
Thank you for reporting. We fixed the problem.

[2021-01-07 09:28] #734 closed

[2021-01-07 09:34] sclassen commented on #733
Here is the section about the icon from the JSR:

For my understanding 48x48 is not a valid size. You should pass these values as width and height attribute.

[2021-01-13 07:41] #469 closed

[2021-01-13 14:17] castuloramirez commented on #268
I works perfectly with AdoptOpenJDK 8  and the IcedTea-Web 1.8.3

![image](https://user-images.githubusercontent.com/27036721/104463697-63b0c180-55b2-11eb-94e4-d5dbd9961415.png)

[2021-01-14 14:55] edent opened #737 "ELFCLASS32 issue when launching Cisco WebEx"
I am trying to run Cisco's WebEx JNLP on 64bit Linux (Pop!_OS 20.10) using icedtea-web 1.8 (1.8).

Running `javaws cisco.jnlp` pops up a window asking if I trust the remote locations, it downloads a bunch of files, launches a window which stays blank.  In the terminal I see:

[code]

Is this a problem with my install or with Cisco?

[2021-01-15 13:00] edent commented on #737
Here's a more full stack trace:

[code]

[2021-01-16 00:04] sclassen commented on #737
This looks like there is an issue with bits and native libs:
https://stackoverflow.com/questions/6172105/wrong-elf-class-elfclass32

OpenWebStart will always use a 64 bit JVM if the operating system is 64bit

[2021-01-16 08:47] edent commented on #737
Thanks. Is this something I can fix on my machine?

[2021-01-18 07:56] kelemenb-ewit opened #738 "MacOS dock name option is not accepted"
According to MacOS documentation the application "dock-name" should be set with startup option "`-Xdock:name=<MyAppName>`". Unfortunately the "`-Xdock:name`" is does not appears in JvmUtils.java constants an will be ignored.

I can certainly add this option in `getValidStartingVMArguments()` and create a pull request with it, but I don't think you will accept that. Or will you?

Is there any sugge

[2021-01-18 10:36] sclassen commented on #738
You can enable jvmargs in the configuration:
https://openwebstart.com/docs/OWSGuide.html#_whitelist_for_jvm_arguments

Is this sufficient for your use case?

[2021-01-18 10:38] #268 closed

[2021-01-18 10:54] prampec commented on #738
Sounds like a workaround instead of a solution. :)
I need to ask the customers about this possibility.

[2021-01-18 11:13] sclassen commented on #738
this is the fastest way because you do not need to wait for a new version of ITW or OWS to be released.

[2021-01-19 10:52] Yoshitha24 commented on #735
Hi,

Thanks for the help. We are currently testing with OpenWebStart. We will update you on the results. Can I know the reason why this inconsistent behavior is seen in IcedTea?
Why is IcedTea sometimes not able to access the jars downloaded to the cache and throwing ClassNotFoundException which is resulting in some features not working properly? We have seen this situation in cases where multiple

[2021-01-21 09:43] #733 closed

[2021-01-21 12:53] jastax commented on #707
@Jamila891  Thanks!

We have booked a support option now (LVM). I'd like to test whether the fix solves the problems - are you going to release it soon? :)

[2021-01-21 16:01] jastax commented on #707
(We are using OWS, so the fixed Version would need to be applied there too)

[2021-01-22 10:39] mahboobbaig opened #740 "Launching JNLP takes 20+ mins when launched through AdaptOpenJDK_1.8.0.275 and IcedWebTea_1.8.4"
## Summary
When Launching jnlp file using AdaptOpenJDK_1.8.0.275 through IcedWebTea(1.8.4) its taking 20+ mins to launch it fully. From the same client machine when I use OracleJRE_1.8u261 it launches the jnlp console in less than 1 min.

Note: There is a latency between my client machine and the Tomcat webserver hosting the jnlp file. If I launch the jnlp file from the local Tomcat webserver appl

[2021-01-22 11:01] le-jawa opened #741 "Cisco ASDM does not work with OpenJDK 8 (deploy.jar missing)"
**Windows, Linux & Mac:**

**x64:**

Not sure if this is a problem for Cisco or OpenJDK; it depends on where the actual problem is.  ASDM requires Java 8, but does not work with OpenJDK 8.  If the libraries required for ASDM are not intended to be there (ie, Oracle intentionally did not include them), then oh well I guess.  Hopefully we can convince Cisco to support OpenJDK if that's the case.  Ho

[2021-01-22 11:01] #741 closed

[2021-01-22 11:02] hendrikebbers commented on #740
Hi @mahboobbaig can you please active debug logging & file logging in the IcedTeaWeb console attach the log file here?

[2021-01-22 12:41] benchpresser commented on #740
i would suggest profiling with a tool such as yourkit. we issued same issue, reason was a third party library used by our project it was doing some xml parsing (svgSalamnder). openjdk has some performance issues when generating xml related parsers etc.
the ownder of svgSalamnder cached the generated facoteries and performance problem gone. But it is interesting why some process took 1-2 ms on orac

[2021-01-25 14:03] sclassen commented on #707
We will do a release today. It will be available tomorrow and contains the fix for your issue.
Also we added more logging for the cache cleanup which will help debug the reason why in your setup the application is removed from the cache.

[2021-01-26 09:14] jastax commented on #707
@sclassen That's great, thanks!

[2021-01-26 09:49] sclassen commented on #707
Can you please open a new issue for the cache cleanup if you can still reproduce the behavior with 1.3.2
Thanks

[2021-01-26 17:45] nvaert1986 commented on #741
For those interested, you can actually get this to work:
1. Make sure the asdm-openjre-version.bin is installed on the ASA
2. Use a browser with a user agent switch and make sure you set it to Microsoft Windows with any browser
3. Download the dm-launcher.msi
4. Install using wine (works with wine-staging-5.22)
5. Copy the .wine/drive_c/Program Files (x86)/Cisco/ASDM folder to ~/ASDM
6. Run a chmo

[2021-01-26 23:04] sclassen commented on #737
sorry for the late reply.
If you can find a 64bit version of the libdbr and have that sitting in the libpath of the JRE that should do the trick.

Also there is currently a bug which you could exploid.
OpenWebStart does not detect the architecture of a JVM correctly and as a consequence all JVMs are detected as 64bit.
You can therefore install a 32-bit JVM on your computer and add it to the JVM ma

[2021-01-28 07:05] mahboobbaig commented on #740
Hi, the reproduction steps are pretty simple. Just download the jnlp file from any of your webapplication(which hosts the jnlp file) and download it on your remote client machine, then run/launch it with Iced Tea Web(javaws) running on OpenJDK and you will observe this issue as it takes long time to completely launch the console.

Point to be noted here is that network latency between your client

[2021-01-28 07:14] mahboobbaig opened #743 "2 Java Processes are getting spawned when launching a single JNLP client console."
**Windows Environment:**
I am using the AdoptOpenJDK 1.8.0.265. When I launch the oneclick.jnlp file using AdoptOpenJDK with IceTeaWeb 1.8.0.265 it will connect and work with the webserver, however I do see 2 memory processes that are spawned from a single JNLP Client Console.

The first one is the OC Client Console I launched, the second one is listed in **background** **processes** and doesn´t a

[2021-01-28 15:59] jastax opened #744 "Exceptions and cache cleaning"
Hi @sclassen ,

you asked me (here https://github.com/AdoptOpenJDK/IcedTea-Web/issues/707) to create a new issue for this.

The error and the cache deleting still occurs (I've launched 3 instances of the application)

OWS 1.3.2, Windows 10
[log.zip](https://github.com/AdoptOpenJDK/IcedTea-Web/files/5888424/log.zip)

Thanks!

[2021-01-29 09:46] sclassen commented on #740
Could you just provide a log file. There are many factors which influence speed not just the network.
It is almost impossible to reproduce the behavior you see with our setup.

If you need help generating the log files please have a look at https://openwebstart.com/docs/OWSGuide.html#_logging

[2021-01-29 09:48] hendrikebbers commented on #743
Hi,
when using JNLP you want to have your application running in a sandbox. To support that sandboxing we need to start the application in a second Java process.

A concrete example: You can specify JVM arguments in the JNLP file for your application. Such arguments must be passed the the java process at start time. Since the first Java process reads the JNLP file he has no chance to use the defin

[2021-01-29 09:49] #707 closed

[2021-01-29 09:53] mahboobbaig commented on #743
Thanks for your response Hendrik. Really appreciate it. So as per you its working as designed right? But the problem here is Memory consumption, 2 java processes getting launched and consuming memory is a concern with our customers. And moreover when compared with Oracle JRE this behavior is not observed, it spawns only a single Java process. Can anything be done to fix this?

[2021-01-29 10:06] sclassen commented on #738
since this issue also is present in OWS we continue the discussion in karakun/OpenWebStart#382

[2021-01-29 10:06] #738 closed

[2021-02-04 16:04] hendrikebbers commented on #724
Moving to GitHub Actions needs to take care of the UI tests.

Sample:
https://github.com/juliangruber/browser-run/issues/147#issuecomment-754553635

[2021-02-05 22:53] sclassen commented on #744
Hi @jastax
It took us some time to track this one down.
Looks like we have a glitch in locking the cache index file. Thus allowing multiple processes to write at the same time which leads to chaos and explains the exceptions and the cache cleaning.

There is a fix on the way in #745

[2021-02-05 22:56] sclassen commented on #744
For now as a workaround you can delete the entire cache in the file system and then try to not start multiple jnlps at the same time.
The dependencies all get downloaded at start time and thus the cache should only see minor activity once the application is running.
It then is (almost) save to launch the next jnlp.

[2021-02-05 23:00] sclassen commented on #724
Master is green on github actions.
Using the following: https://github.com/marketplace/actions/gabrielbb-xvfb-action

[2021-02-05 23:24] sclassen commented on #743
Which version are you running?
ITW 1.8.3 or are you using the OpenWebStart version?

[2021-02-08 04:26] mahboobbaig commented on #743
I am using ITW 1.8.4.

[2021-02-08 08:47] jastax commented on #744
That's great, thanks.

"For now as a workaround you can delete the entire cache in the file system and then try to not start multiple jnlps at the same time.
The dependencies all get downloaded at start time and thus the cache should only see minor activity once the application is running."

Yes, i noticed that. We cannot rollout OWS with such an error though, because there will be thousands of us

[2021-02-08 09:29] sclassen commented on #743
OK, with ITW there is a possibility to start a JNLP with only one VM.
You must make sure that in the JNLP there is no jvm-args set and also no memory constraints given.
In that case ITW should run the app with the current JVM and not launch a second one

[2021-02-08 10:32] patris70 commented on #743
@mahboobbaig,

you can using **-Xnofork** Parameter.
JAVAWS.exe -Xnofork -JNLP

[2021-02-08 10:57] sclassen commented on #743
Be aware that simply adding `-Xnofork` can break your application if it depends on jvm-args beeing passed.
Thus we recommend removing the jvm-args from the JNLP if possible as it increases awareness of what changes are applied to the application start

[2021-02-08 11:23] patris70 commented on #743
@sclassen,

I've been using -Xnofork parameters for 2 years and have never had problems.

[2021-02-08 12:55] sclassen commented on #743
It will not cause problems for most applications. But we have also seen a good hand full of JNLPs which pass information to the application using the vm-args. These applications need to spawn a second JVM. ITW will take care of this issue and if possible only start a second JVM when it is needed. Therefore it is safer to change the JNLP.

It also has the benefit that it will effect all users and n

[2021-02-09 08:31] sclassen commented on #744
@jastax
We tried the changes in the file locking behavior and thereby ran into a very old JDK issue. In short: on the NTFS if one releases a file lock in a Java application the underlying lock (in NTFS) is not immediately released. Only after a full GC where the memory mapped file is freed the lock is released.
Since there is no way to enforce a full GC there is also no way of reliably releasing t

[2021-02-11 10:57] SchwingSK commented on #330
+1 Indeed it would be nice, especially for the 1.8 branch which is quite a pain to build.

[2021-02-11 11:15] SchwingSK opened #747 "Status of 1.8 and 2.0 versions, roadmap"
Hi,
as the old mailing list (https://mail.openjdk.java.net/pipermail/distro-pkg-dev/) is dead for IcedTea-Web, I suppose that using GitHub issues is the only way of discussing IcedTea-Web. If there is a better channel for this, please let me know !

I'd like to know the status of the master (which just upgraded from alpha to snasphot state): as of now, AdoptOpenJDK only provides builds for release

[2021-02-11 11:36] jastax commented on #744
Is there some way I can help you with this one?

[2021-02-11 11:59] sclassen commented on #744
We are trying adifferent approach today. I can give you feedback about the outcome tomorrow.

[2021-02-11 13:05] sclassen commented on #747
OWS and ITW are currently maintained by the same team of developers. This is also the reason why there are a ton of alpha releases. Because these are then bundled in the OWS release.
The thing is that we do not have enough resources to bring the ITW 2.0.0 into a releasable state.

You are right the code works 99%. But there are some features which are not used in OWS and some features which have a

[2021-02-12 07:15] #724 closed

[2021-02-12 07:46] sclassen commented on #744
Ok, the new approach is working. The code is merged.

[2021-02-12 12:07] vnashkev opened #750 "Just a question about maven build and test cases"
Hallo,
maven build for [tags/icedtea-web-2.0.0-alpha18] fails because of unit tests.

OS - Windows 10
Oracle jdk 1.8.0_121

Is it a known problem or i did something wrong?

Thank you in advance,
Vitali

[2021-02-12 14:23] sclassen commented on #750
No we are not aware of this.
We have a CI set up for both Win and Linux which runs any commit on master and it has not detected the failure.
Can you give us the list of tests which fail so we can try to reproduce this, thanks

[2021-02-12 18:12] vnashkev commented on #750
First of all i slightly modified pom.xml for integration module to run tests sequentially.
Without that result is the same but it is much more difficult to read.
If necessary i can repeat it whithout changes.
For results please see attachment.

[code]
[protocol-icedtea-web1.txt](https://github.com/AdoptOpenJDK/IcedTea-Web/files/5973589/protocol-icedtea-web1.txt)

[2021-02-12 21:14] sclassen commented on #750
The error is very confusing...
Are you able to run other tags in your setup successfully or are all tags failing for you?

[2021-02-12 23:56] sclassen commented on #330
There is now a Github action build for the 1.8 branch
https://github.com/AdoptOpenJDK/IcedTea-Web/blob/1.8/.github/workflows/build.yml

[2021-02-13 11:04] vnashkev commented on #750
What do you mean with "other tag"?
I can build openwebstart with tests. I can build icedtea-web without tests.
I have tried icedtea-web on 2 windows PCs (both Windows 10 & jdk 1.8). Tests failed on both.

On ubuntu 20.04 with jdk 1.8 icedtea-web build succeeded with tests.

[2021-02-13 13:03] sclassen commented on #750
I mean git tags of ITW such as alpha 12 or others.
The reason I ask is to find out if the issue has been introduced recently or not

[2021-02-13 13:56] vnashkev commented on #750
Just tried alpha17 & alpha15. Both fail.

[2021-02-13 14:43] vnashkev commented on #750
I found a reason in integration/pom.xml :
[code]
If i replace it with
[code]
everything is GREEN.

Generally speaking if each and every test runs in its own JVM then everything is Ok.
If 2 or more tests share the same JVM it may fail because of static nature of JNLPRuntime class.
Just look what happens if within the same JVM the following calls will be made :

[code]
This exactly the case if `Miss

[2021-02-13 16:24] sclassen commented on #750
So the issue is with maven or one of its plugins. Since the checked in config is runing on the CI windows infrastructure.
What version of maven do you use?

[2021-02-13 19:33] vnashkev commented on #750
I use maven 3.6.3

[2021-02-13 21:10] sclassen commented on #750
OK, I updated our CI Server from 3.5.4 to 3.6.3 but still all the tests are green.
Also all the plugin versions are fixed and thus should be the same.
I am puzzled why the build behaves differently on your Windows then on ours.

[2021-02-16 16:31] SchwingSK opened #753 "Dialogs & Control Panel illegible when Ubuntu is in dark mode"
(tested on Java 8 & 11)
Step to reproduce: get  a security warning dialog, or launch the control panel. When in normal mode we get:
![itw 1 8 4 permission normal](https://user-images.githubusercontent.com/2040238/108085479-acf2a600-7075-11eb-8159-386286212c22.png)
When switching Ubuntu (20.04) to dark mode, we get:
![itw 1 8 4 permission dark](https://user-images.githubusercontent.com/2040238/1080

[2021-02-17 03:09] martinhickson commented on #342
If you have time for a question about this, in a multi-user scenario, with multiple users sharing a centralized cache location (i.e. a scenario like Citrix), does that mean that all users who will use the JNLP application have to appear in the ACL list of C:/cache?

[2021-02-17 08:14] sclassen commented on #342
sharing the cache may lead to some corner-cases and race conditions.
If you are interested in such scenario please contact us at openwebstart@karakun.com

[2021-02-17 09:31] SchwingSK commented on #330
@sclassen is there a plan for providing a GitHub action, but for the Windows builds?

[2021-02-17 09:33] sclassen commented on #330
https://github.com/AdoptOpenJDK/IcedTea-Web/blob/master/.github/workflows/maven.yml

[2021-02-17 09:37] sclassen commented on #330
or do you mean a build for windows?
And if so for master or for 1.8.x?

[2021-02-17 10:33] mahboobbaig commented on #743
Hi Guys, I used the -Xnofork option as suggested and it worked as expected,  there is no second java process launched.

The syntax is like this:
javaws -Xnofork oneclick.jnlp

Thanks to everyone for their valuable suggestions.

[2021-02-17 10:40] sclassen commented on #743
Did you find out which entry in the JNLP caused the forking?
Or could you past your JNLP here. Thanks

[2021-02-17 10:50] SchwingSK opened #757 "bash files should be forced to LF line endings"
When the project is cloned in Windows, all *.sh files have CRLF line endings, which make building of the launchers under cygwin fail (without any helpful message). It can be easily done with a .gitattributes file

[2021-02-17 10:52] mahboobbaig commented on #743
Here is my jnlp file for your reference. I am using java-vm-args and also passing min and max mem values, may be those are causing it??

<?xml version="1.0" encoding="utf-8"?>

<jnlp spec="1.0+" codebase="http://hostname:port/yyyy"
                  href="/zzzzzz/oneclick.jnlp">
  <information>
    <title>Title goes here</title>
    <vendor>Vendor Name</vendor>
    <homepage href="index.jsp"/>

[2021-02-17 11:30] patris70 commented on #743
This is OneClick CA Spectrum Application.

https://techdocs.broadcom.com/us/en/ca-enterprise-software/it-operations-management/spectrum/10-3-1/administrating/oneclick-administration/oneclick-administration-pages.html

1- You must using OpenJDK x64.
2- You must disable other LOGs in Icedtea-Web 1.8.x Version.
3- If you have AntiVirus (Trendmicro, McAfee), you must add Icedtea-Web and OpenJDK to Whi

[2021-02-17 12:12] sclassen commented on #743
OK, I took the liberyt to remove the resources out of your post, as they are not relevant.

The forking is caused by the following entries `java-vm-args="--add-modules=java.se.ee"`, `initial-heap-size="96m"` and `max-heap-size="1042m"`
So if you remove them from the JNLP on the server the forking should no longer happen.

The question arises if the application is able to run without them. Or in ot

[2021-02-17 12:17] #757 closed

[2021-02-17 14:51] patris70 commented on #740
@mahboobbaig

read my last comment in this link
https://github.com/AdoptOpenJDK/IcedTea-Web/issues/743

[2021-02-18 06:16] mahboobbaig commented on #743
Hi Patris, I am using 64bit OpenJDK and was facing this issue.

C:\Users\xxxx>java -version
openjdk version "1.8.0_275"
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_275-b01)
OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.275-b01, mixed mode)

[2021-02-18 08:34] #744 closed

[2021-02-18 08:39] sclassen commented on #747
@SchwingSK is your question answerd?
If so can you please close this issue.

[2021-02-18 09:12] SchwingSK commented on #747
@sclassen, yes, sorry for the delay.
I understand the lack of time (and means). My fear is that given how tedious working on the 1.8 branch is, less and less code will be backported to it, leading to having the maintained version available via OpenWebStart, and the old 1.8 branch being distributed by AdoptOpenJDK & Azul.
However things are improving, notably by the current work on github actions t

[2021-02-18 09:12] #747 closed

[2021-02-18 09:18] SchwingSK commented on #330
Ideally, I mean all: give people an easy way to test the latest snapshots for both Linux & Windows, on 2.0 & 1.8 branches.

[2021-02-18 09:48] mahboobbaig commented on #743
Hi Sclassen, I tried removing the **java-vm-args="--add-modules=java.se.ee"** section and relaunched JNLP file using ITW and it still spawned 2 java processes.

Then I then removed the memory parameters as well : initial-heap-size="96m" max-heap-size="1042m" and relaunched jnlp file but it still resulted the same.

Then I removed the entire j2se section itself :
 <j2se version="1.8.0_242" java-vm-

[2021-02-18 09:54] sclassen commented on #743
where did you make the changes? on a local copy of the JNLP?

If so then this will not work as ITW will download the original from the server and use that one.
If you want to test a local copy of the JNLP you also need to remove the `href` in the `<jnlp>` tag.

[2021-02-18 10:45] mahboobbaig commented on #743
Hi Sclassen, I tried as you suggested i.e., removed href from the jnlp tag and then I tried the following step by step:
1. Removed href from jnlp tag and removed **java-vm-args="--add-modules=java.se.ee"**  the problem still persist.
2. Removed href from jnlp tag and removed **java-vm-args="--add-modules=java.se.ee"** and **initial-heap-size="96m" max-heap-size="1042m"** now there is only one java

[2021-02-18 12:52] sclassen commented on #743
Short answer: you cannot configure the memory options.

The same thing happens when you pass `-Xnofork`. The command line argument disables the jvm-args and the memory configuration.
The explanation is simple. ITW starts a JVM and loads the JNLP file. So by the time ITW parses the JNLP and knows about the vm-args and the memory configuration the JVM has already been started. So the only way to app

[2021-02-18 15:39] dhirenjoshi commented on #394
Hi Team,
I will be starting to work on the DeploymentRuleSet. Before I start, I wanted to check with all if any part has been partially been started/completed by any team members.  patris70 had worked on it to some extent as I can see from comments above.
I have connected with sclassen in emails back and forth .
@patris70, Can you please explain what all functionality did you end up implementing ?

[2021-02-18 19:49] Af0x opened #764 "Virtual console applet (iDRAC 6): Can´t enter anything"
Hello,

when one launches the iDRAC 6 virtual console applet with Iced Tea on a Fedora 33 client it is not possible to enter anything. It seems the input is not passed to the server.

I am 100% sure it worked before but can´t tell since when it stopped working.

Version 2.0.0-pre.2.alpha13.patched1.fc33

I verified this issue with 2 different clients and am grateful for any help.

Best regards

[2021-02-19 01:21] sclassen commented on #764
Hi

I am sorry but since we do not have access to the iDRAC sources we cannot help you with this issue.
Basically once ITW hands over to the application code it is out of the loop. There are still some hocks and callbacks which allow the application and ITW to interact. But without knowledge of the aplication's code it is impossible to help.

My recommendation is to get into contact with de develo

[2021-02-19 05:50] Af0x commented on #764
The iDRAC wasn´t updated at all since the last time it was working with a Fedora client. I am just not quite sure if it was under Fedora 32 = icedtea-web-1.8.x. If so, there must be something on the ITW side that did change to make it not work anymore.

[2021-02-19 11:39] gdams opened #766 "ITW 1.8.5 Release"
We haven't had a release since June 2020. Looks like lots of patches have gone in and this would be a good chance to test the new GH Actions Release process. https://github.com/AdoptOpenJDK/IcedTea-Web/wiki/IcedTea-Web-1.8.x-Release-Guide

[2021-02-19 14:23] kejloh opened #767 "Fatal: Read Error: Could not read or parse the JNLP file"
Hello,

I'm evaluating OpenWebStart with two devices with embedded web server.  On the first device the javaws application start without problems but on the other one I run into problems:

The JLNP file is identical on both devices but the embedded web server is different.  On the first (working) device it's an Beck SC143, on the second it's an older Beck SC13.  Oracle Java 8 is able to start the

[2021-02-19 15:26] sclassen commented on #767
The log shows that it is an XML parsing error.
Can you delete your `${USER_HOME}/.cache/iced-tea/cache` folder and try again.
Maybe the file was corrupted during download

[2021-02-19 16:48] fredo-m opened #768 "Fatal: Read Error: Could not read or parse the JNLP file."
Hi,

A French public structure provides a portal for submitting responses to calls for tenders from municipalities.

They provide a test page:
https://marches.megalis.bretagne.bzh/index.php?page=entreprise.DiagnosticPoste&callFrom=entreprise

The portal uses a jnlp script.

To use this portal, I have a virtual machine with an old Windows XP, an old firefox and the java plugin, because Java no long

[2021-02-19 17:02] sclassen commented on #768
I tried this with the newest release of OpenWebStart. And it works as long as you use a JVM which includes JavaFX
see https://github.com/karakun/OpenWebStart

[2021-02-19 17:06] kejloh commented on #767
I deleted the cache but it didn't change anything.  Is there something wrong with the JLNP file?

[2021-02-19 17:15] kejloh commented on #767
btw: This is the content of the cache folder after getting the error message:

[cache.zip](https://github.com/AdoptOpenJDK/IcedTea-Web/files/6011732/cache.zip)

[2021-02-19 18:53] sclassen commented on #767
in your cache there is only a single file with the following content:
[code]

[2021-02-19 18:55] sclassen commented on #767
This is an HTML error page and not a JNLP. So the question arrises why the server returns this page

[2021-02-19 19:14] kejloh commented on #767
That's the embedded web server's default (start) page.  I'll Wireshark the traffic why it's returned.

[2021-02-22 09:21] vladimir-kokovic opened #769 "wine - Error spawning JVM process, java executable"
I use, icedtea-web instead of Oracle JWS and I am very satisfied, but there is a problem I don't understand and it appears only in git wine environment.
Any icedtea-web exe can't load java JVM and in the log file is the message "Thread 'Main' Paniced at 'Error Spawning JVM Process, Java Executable ..."
In the file that is attached is the log for itweb-settings.exe.

[2021-02-22 09:23] vladimir-kokovic commented on #769
itweb-settings.exe.

Z:\tmp>rem z:\var\www\pp-ispp-itw\llvm-mingw\javaws-wine.bat

Z:\tmp>set path=/usr/x86_64-w64-mingw32/bin;C:\windows\system32;C:\windows;C:\windows\system32\wbem;C:\windows\system32\WindowsPowershell\v1.0;d:\jdk-10-oracle\bin;d:\icedtea-web-image-1.8.4.win\bin;d:\jdk-10-oracle\bin;d:\icedtea-web-image-1.8.4.win\bin

Z:\tmp>set JAVA_HOME=d:\jdk-10-oracle

Z:\tmp>set ITW_HOME=d:

[2021-02-22 10:27] gdams commented on #289
@judovana I'm looping back round to this to try and get ITW 1.8 compiling on macOS. Do you know what dependencies are required? Have you ever successfully compiled on macOS yourself?

[2021-02-22 11:22] gdams commented on #289
When I try to configure I just reach this:

[code]

[2021-02-22 13:13] kejloh commented on #767
The web server did not handle the HTTP HEAD request correctly but answered it with a redirect to /.  That's fixed now and OpenWebStart is working.

Thank you for pointing me to the .cache folder.

[2021-02-22 13:13] #767 closed

[2021-02-22 13:16] kejloh commented on #767
bw: Java 8 WebStart didn't send HTTP HEAD but GET only, that's why it worked.

[2021-02-22 14:24] sclassen commented on #767
Yes, ITW and Oracle are using different strategies to check if a file is available on the server and if it needs refreshing in the cache

[2021-02-23 08:19] douph1 commented on #766
The github release 1.8.5 is missing ./icedtea-web-image/win-deps-runtime/mslinks.jar
which if think is always required for Windows users to create desktop shortcut.
Waiting a fix for this before embeded it into Adopt create_installer_windows job

[2021-02-23 09:53] patris70 commented on #394
Hi @dhirenjoshi,

1. File name is ExceptionSites.jar and path name is C:\Windows\Sun\Java\Deployment
2. No, why do you need panel for upload ExceptionSites.jar file?
3. Same function (not %100) as Oracle DeploymentRuleset
4. This code is not on jdk Source Code (oracle has this code), my code is in Icedtea-Web source code

hope to help

[2021-02-23 10:30] gdams commented on #766
How strange, I copied the build scripts directly from the jenkins job. I noticed that the portable build has `--with-mslinks="${WORKSPACE}/mslinks.jar"` but the windows one does not.

[2021-02-23 10:33] gdams commented on #766
Testing if this PR fixes the issue https://github.com/AdoptOpenJDK/IcedTea-Web/pull/772

[2021-02-23 10:34] gdams commented on #766
I see the following in the release build:

[code]

[2021-02-23 11:41] #766 closed

[2021-02-24 09:24] SchwingSK opened #774 "Jar permissions should not be checked when the JNLP resource contains no jars"
This is a corner case, but it affects our application:
our software is deployed on our clients' servers, and we have a plugin system where our clients can add their own jars to add functionalities. To this end we have our JNLP that includes another JNLP (so that the client can sign their jars with their own certificate, and facilitate maintenance):

            <extension href="jarBaseUrl/external

[2021-02-24 14:56] SchwingSK commented on #265
Hi, sorry about the enormous delay, but priorities got in the way at work. I've seen that my original fix created more problems than it solved and commits were reverted (see #372), sorry about that.
So I went with a different approach this time. Don't know if I should open a new issue, tell me if I should.

The idea for the new patch (#777) is that The JNLP file URL should not be added to the list

[2021-02-24 15:22] SchwingSK commented on #750
The order must be different on your JVMs, and the order in your CI server is just 'lucky'. By changing the order in which tests are executed, I can reproduce a failure every time:

    [ERROR] Tests run: 1, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 4.09 s <<< FAILURE! - in net.adoptopenjdk.icedteaweb.integration.reproducers.extensionresources.ManagedApplicationWithExtensionResourceStartedT

[2021-02-24 23:19] dhirenjoshi commented on #394
I have several questions and would be grateful if u can provide me some
answers to them.
1.So for exception site, how does one implement it as a signed jar?
2.What xml or delimited format does the file need to have and ?
3.How can this signed jar be controlled so that only the signer can update
the new exception sites?
4.Does exception site whitelusting permit low medium security web sites
accessu

[2021-02-25 09:27] sclassen commented on #764
@judovana we see that you created the fedora package.
Maybe you have an idea what could be going wrong?

[2021-02-25 09:35] sclassen commented on #330
for 1.8 we are working on this.
Checkout the latest build in https://github.com/AdoptOpenJDK/IcedTea-Web/actions/workflows/build.yml

[2021-02-25 10:15] sclassen commented on #769
So the easiest way to debug this is taking the command which the rust launcher executes and trying this on the console directly.
This should reproduce the issue. Then you can play with this command until you find a working configuration. Once we know what is causing the JVM to panic we can have a look on how to fix the rust launcher.

Here the command:
[code]

[2021-02-25 10:41] sclassen commented on #750
The best you can do is create a branch where the issue is reproduceable and open a PR for this branch.
Once we can also reproduce the issue we will let you know and then you can propose a fix on the same branch.

[2021-02-25 10:41] #743 closed

[2021-02-25 12:49] #774 closed

[2021-02-25 13:03] SchwingSK commented on #330
That's exactly what I meant, great work! This has the added bonus of giving clear instructions on how to build 1.8 branch on Windows, thanks a lot for this.

[2021-02-26 05:51] mahboobbaig commented on #740
As suggested will collect the logs for analysis.

[2021-02-28 09:18] Af0x commented on #764
Luckily I had a Fedora 32 client to test with and I can confirm that this issue only exists under Fedora 33 and not under Fedora 32. The version of ITW was the same (2.0.0-pre.2.alpha13.patched1.fc32).

[2021-03-02 14:47] bourgesl commented on #89
I wonder if this one-liner fix could be backported to iced-tea-web 1.8 branch to make this performance fix available in the coming 1.8.x release (for most linux users) as 2.0.x is still not publicly released (alpha13 - 2020.4).

[2021-03-02 20:35] sclassen commented on #764
Can we close this or do you need more input to help track this down?

[2021-03-03 04:23] Af0x commented on #764
I filed a bug at the bugtracker of the distro: https://bugzilla.redhat.com/show_bug.cgi?id=1933968

[2021-03-03 09:31] mauromol commented on #324
Had the same problem with the 1.8 version bundled in Ubuntu 20.04. Fixed by downloading 1.8.4 version from AdoptOpenJDK.
I opened a launchpad bug requesting the update of the Ubuntu package: https://bugs.launchpad.net/ubuntu/+source/icedtea-web/+bug/1917593